.blog-main {
  background: #f3fdff80 !important;
  a {
    cursor: pointer !important;
  }
  ul,
  ol {
    padding-left: 0 !important;
  }
  .container {
    max-width: 1280px !important;
  }
  h4{
    font-size: 20px;
    font-weight: 700 !important;
  }
}
.blog-navigation {
  font-weight: 500 !important;
  a {
    font-family: var(--global-font) !important;
    color: var(--color_black) !important;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
  }
  a:hover {
    color: var(--theme-color) !important;
  }
}
.blog-search-btn {
  padding: 0.375rem 0.75rem;
  margin-bottom: 2px;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.blog-initial {
  .post-summary {
    color: var(--color_black) !important;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px !important;
    margin-bottom: 24px;
  }
}

.blog_content {
  font-family: var(--global-font) !important;
  div {
    p {
      span {
        a {
          a {
            color: #00c4c8 !important;
            font-weight: 600 !important;
            text-decoration: underline !important;
            transition: all 0.6s ease;
            -webkit-transition: all 0.6s ease;
            &:hover {
              color: var(--color_black) !important;
            }
          }
        }
      }
    }
  }
  a {
    word-wrap: break-word;
    color: var(--theme-color) !important;
    font-weight: 600 !important;
    text-decoration: underline !important;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    &:hover {
      color: var(--color_black) !important;
    }
    span {
      color: #00c4c8 !important;
      word-wrap: break-word;
      font-weight: 600 !important;
      text-decoration: underline !important;
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      &:hover {
        color: var(--color_black) !important;
      }
    }
  }
  table
  { th, td {
    border: 1px solid var(--theme-color);
     padding-left: 0.75rem;
  }

  tr:nth-child(1){
    background-color: #f4f4f4 !important ;
  }
  }
  blockquote,
  blockquote::before {
    background: #f4f4f4 !important;
    border-left: solid 6px var(--theme-color);
  }

  blockquote {
    margin: 0px 0px 20px 0px;
    padding: 20px 20px 20px 50px;
    p {
      margin-bottom: 0 !important;
    }
    @media screen and (max-width: 768px) {
      padding: 10px 10px 10px 25px;
    }
  }

  blockquote::before {
    content: "\201C";
    display: block;
    color: var(--theme-color);
    font-family: Georgia, serif;
    font-size: 60px;
    height: 0;
    left: -40px;
    position: relative;
    top: -26px;
    @media screen and (max-width: 768px) {
      left: -30px;
      top: -20px;
    }
  }
}

.expert-developers-block {
  background: var(--theme-color) !important;
  padding: 2rem 2rem;
  text-align: center;
  border-radius: 33px;
  color: var(--white_color) !important;
  line-height: 32px !important;
  span {
    a {
      font-weight: 700 !important;
      color: var(--color_black) !important;
      text-decoration: underline !important;
      border-radius: 33px;
      &:hover {
        color: var(--white_color) !important;
      }
    }
  }
  a {
    span {
      font-weight: 700 !important;
      color: var(--white_color) !important;
      text-decoration: underline !important;
      border-radius: 33px;
      &:hover {
        color: var(--white_color) !important;
      }
    }
  }
}

.blog-tab-content {
  background: var(--white_color);
  border: 1px solid var(--theme-color);
  box-shadow: 4px 4px 0 var(--theme-color);
  padding: 12px 0 12px 10px;

  p {
    font-family: var(--global-font) !important;
    line-height: 23px !important;
    font-size: 18px;
    font-weight: 700;
    color: var(--color_black);
    margin: 0;
  }

  ul {
    font-family: var(--global-font) !important;
    color: var(--color_black) !important;
    background: 0 0;
    list-style: none;
    line-height: 1.6 !important;
    margin: 0;
    padding-right: 12px !important;
    li {
      font-family: var(--global-font) !important;
      color: var(--color_black) !important;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px !important;
      color: var(--color_black);
      margin: 0 0 8px !important;
      position: relative;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
      a.page-active {
        color: var(--theme-color) !important;
      }
      a:hover {
        text-decoration: underline !important;
      }
    }
  }
}

.blog-get-in-touch {
  background: Var(--white_color);
  border: 1px solid var(--theme-color) !important;
  box-shadow: 0 5px 40px 0 rgba(212, 221, 245, 0.9) !important;
  padding: 15px;
  font-size: 14px;
  line-height: 20px !important;
}

.blog_category {
  .Blog_category_head {
    font-family: var(--global-font);
  }
}

.blog_flex_30:hover {
  .entry-title {
    font-weight: 600;
    color: var(--white_color);
  }
  .publish_date {
    font-weight: 600;
    color: var(--white_color) !important;
  }
}

.single-author-bio {
  margin: 33px auto 75px 0;
  align-items: center;
  display: flex;
  @media screen and (max-width: 1024px) {
    display: block !important;
  }
  p {
    font-size: 18px;
    line-height: 32px !important;
    color: var(--color_black);
  }
  h3 {
    font-size: 24px;
    line-height: 38px !important;
    color: var(--color_black);
    margin-bottom: 7px;
    font-weight: 700;
  }
}

.single-author-bio .img-blk-wrapper {
  width: 150px;
  height: 150px;
  margin: 24px 40px 0 0 !important;
  margin-top: 2;
  padding: 18px;
  .img-blk {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--theme-color);
    img {
      margin: 0 auto;
      border-radius: 0;
      width: auto;
      max-width: 100%;
      height: auto;
      position: absolute;
      bottom: 0;
      z-index: 2;
    }
  }

  .img-blk:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    right: -18px;
    bottom: -18px;
    background: var(--theme-color);
    z-index: 1;
  }
  .img-blk:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: -18px;
    top: -48px;
    background: var(--theme-color);
    z-index: 1;
  }
}

.single-author-bio .single-author-bio-text {
  padding-top: 0;
  max-width: calc(100% - 250px);
  color: #9d9d9d;
  line-height: 28px !important;
  overflow: hidden;
  @media screen and (max-width: 1024px) {
    max-width: unset !important;
  }
}

.blog-title {
  font-weight: 700;
  font-size: var(--font_48) !important;
  color: var(--color_black);
  line-height: 1.1 !important;
}

// ******************************New style of blog page********************************************
.blog-inner .blog_content_new,
.blog_content {
  strong {
    font-weight: 700 !important;
  }
  a {
    word-wrap: break-word;
  }
  img {
    width: 100%;
  }
  table {
    width: 100% !important;
    margin-bottom: 20px;
    p {
      font-family: var(--global-font) !important;
      color: var(--color_black) !important;
      margin-bottom: 0 !important;
      span {
        font-family: var(--global-font) !important;
      }
    }
  }
  pre.language-javascript,
  pre.language-markup,
  pre.language-java {
    background-color: #f4f4f4;
    color: #333;
    padding: 1em;
    overflow-x: auto;
    font-size: 14px;
    margin-bottom: 16px;
    border-left: solid 6px var(--theme-color);
  }
  p {
    font-family: var(--global-font) !important;
    color: var(--color_black) !important;
    word-wrap: break-word;
    font-size: 18px !important;
    line-height: 32px !important;
    margin-bottom: 20px !important;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    span {
      font-family: var(--global-font) !important;
      color: var(--color_black) !important;
      word-wrap: break-word;
      font-size: 18px !important;
      line-height: 32px !important;
      margin-bottom: 20px !important;
    }
  }
  h2 {
    font-family: var(--global-font) !important;
    color: var(--color_black) !important;
    font-size: 32px !important;
    line-height: 38px !important;
    margin-bottom: 20px !important;
    font-weight: 700 !important;
    span {
      font-family: var(--global-font) !important;
      color: var(--color_black) !important;
      font-size: 32px !important;
      line-height: 38px !important;
      font-weight: 700 !important;
      strong {
        font-family: var(--global-font) !important;
        color: var(--color_black) !important;
        font-size: 32px !important;
        line-height: 38px !important;
        font-weight: 700 !important;
      }
    }
  }
  h3 {
    font-family: var(--global-font) !important;
    color: var(--color_black) !important;
    font-size: 24px !important;
    line-height: 30px !important;
    margin-bottom: 20px !important;
    font-weight: 600 !important;
    span {
      font-family: var(--global-font) !important;
      color: var(--color_black) !important;
      font-size: 24px !important;
      line-height: 30px !important;
      font-weight: 600 !important;
      strong {
        font-family: var(--global-font) !important;
        color: var(--color_black) !important;
        font-size: 24px !important;
        line-height: 30px !important;
        font-weight: 600 !important;
      }
    }
  }
  ul > li:last-child,
  ol > li:last-child {
    margin-bottom: 10px;
  }
  ul {
    a {
      font-family: var(--global-font) !important;
      color: var(--theme-color) !important;
      font-weight: 600;
      word-wrap: break-word;
      text-decoration: underline !important;
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      &:hover {
        color: var(--color_black) !important;
      }
    }
    li {
      font-family: var(--global-font) !important;
      padding-left: 34px;
      padding-bottom: 10px;
      list-style: outside !important;
      list-style-type: none !important;
      position: relative;
      font-size: 18px !important;
      line-height: 32px !important;
      margin-left: 0;
      font-style: italic !important;
      color: var(--color_black) !important;
      &::before {
        content: "";
        width: 20px;
        height: 20px;
        left: 0;
        top: 6px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cg clip-path='url(%23clip0_30_12)'%3E%3Ccircle cx='10' cy='10' r='10' fill='%230d9a9a'/%3E%3Cpath d='M8.08102 13.9311C8.18816 14.0217 8.34951 14.0235 8.45897 13.9333C10.8471 11.9585 13.024 9.88733 15.6214 7.7973C15.8456 7.61698 15.9792 7.36482 15.9978 7.08682C16.0551 6.22275 14.9755 5.65693 14.2418 6.23531C12.0196 7.98443 10.1719 9.57103 8.44857 11.2108C8.1099 10.8884 7.65676 10.4271 7.09779 9.83522C6.66554 9.3777 5.88549 9.2986 5.36077 9.79257C4.89989 10.2261 4.8779 10.9221 5.31028 11.3773C6.35388 12.4751 7.00913 13.0229 8.08102 13.9311Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_30_12'%3E%3Crect width='20' height='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
        background-position: -460px -80px;
        position: absolute;
      }
      span {
        font-family: var(--global-font) !important;
        font-style: italic !important;
        font-size: 18px !important;
        color: var(--color_black) !important;
      }
      p {
        font-family: var(--global-font) !important;
        font-style: italic !important;
        font-size: 18px !important;
        margin-bottom: 0px !important;
      }
    }
    span {
      font-style: italic !important;
      font-family: var(--global-font) !important;
      font-size: 18px !important;
      color: var(--color_black) !important;
    }
  }
  ol {
    padding-left: 1.8em !important;
    list-style: initial !important;
    a {
      font-family: var(--global-font) !important;
      color: var(--theme-color) !important;
      font-weight: 600;
      word-wrap: break-word;
      text-decoration: underline !important;
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      &:hover {
        color: var(--color_black) !important;
      }
    }
    li {
      font-family: var(--global-font) !important;
      font-size: 18px !important;
      // line-height: 32px !important;
      margin-left: 0;
      list-style-type: disc !important;
      color: var(--color_black) !important;
      &::marker {
        color: var(--theme-color) !important;
        font-size: 24px !important;
      }
      span {
        font-family: var(--global-font) !important;
        color: var(--color_black) !important;
        font-size: 18px !important;
      }
      p {
        font-family: var(--global-font) !important;
        margin-bottom: 0px !important;
        font-size: 18px !important;
      }
    }
    span {
      font-family: var(--global-font) !important;
      color: var(--color_black) !important;
    }
  }
  .faq-bottom .accordion-button {
    font-family: var(--global-font) !important;
    color: var(--color_black) !important;
    border: 0 !important;
    padding: 0 !important;

    h3 {
      font-size: 20px !important;
      margin: 0 !important;
      font-family: var(--global-font) !important;
      @media screen and (max-width: 767px) {
        font-size: 18px !important;
      }
    }
    p {
      font-size: 16px !important;
      @media screen and (max-width: 767px) {
        font-size: 15px !important;
      }
    }
  }

  .faq-bottom .accordion-body {
    color: var(--color_black);
    font-family: var(--global-font) !important;
    p {
      margin: 0 !important;
      line-height: 2.5rem;
      font-size: 16px !important;
    }
  }

  .faq-bottom .accordion-body a:hover {
    color: var(--theme-color) !important;
  }

  .faq-bottom .accordion-item {
    border-radius: 4px !important;
    border: 1px solid var(--theme-color) !important;
    padding: 20px 36px 20px 30px !important;
    margin-bottom: 16px !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0 3px 5px -1px !important;
    div > div {
      padding-bottom: 0;
    }
    @media screen and (max-width: 767px) {
      padding: 14px 20px 18px 15px !important;
    }
  }
}

.blog-inner .blog_content_CTA_1,
.blog-inner .blog_content_CTA_2,
.blog-inner .blog_content_CTA_3 {
  img {
    width: unset;
  }
  a {
    word-wrap: break-word;
  }
  p {
    word-wrap: break-word;
    margin-bottom: 0 !important;
  }
}

.blog-inner .blog_content_CTA_1,
.blog-inner .blog_content_CTA_3 {
  font-family: var(--global-font);
  color: var(--color_black) !important;
  font-size: 18px;
  margin-bottom: 20px;
  background: rgb(0, 182, 207);
  background: linear-gradient(
    0deg,
    rgba(0, 182, 207, 0.5) 35%,
    rgba(255, 255, 255, 1) 100%
  );
  padding: 28px;
  border-radius: 30px;
  a {
    font-weight: 700;
    font-family: var(--global-font);
    text-decoration: underline !important;
    transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    color: var(--color_black) !important;
    &:hover {
      color: var(--color_black) !important;
    }
  }
}

.author-main-img {
  border: 3px solid transparent;
  background-image: linear-gradient(#ededed, #d1d1d1),
    linear-gradient(180deg, #02e1b8 0%, #00b5d4 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border-radius: 50%;
}
