.common-button {
  font-weight: 400;
  font-size: var(--font_16) !important;
  font-weight: 600 !important;
  padding: 12px 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 1600px) {
    padding: 10px 14px;
    font-size: var(--font_18) !important;
  }
}

.button-primary {
  color: var(--white_color);
  border: 1px solid var(--theme-color);
  background: var(--theme-color);
  &:hover {
    background: transparent;
    color: var(--color_black);
  }
}

.button-white {
  color: var(--color_black);
  background: var(--white_color);
  border: 1px solid var(--white_color);
  &:hover {
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
      0 4px 6px -4px rgb(0 0 0 / 0.1);
  }
}
