.common-button {
  font-size: var(--font_16) !important;
  font-weight: 600 !important;
  padding: 12px 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 1600px) {
    padding: 10px 14px;
    font-size: var(--font_18) !important;
  }
}

.trip-list {
  ul {
    li {
      font-family: var(--global-font) !important;
      padding-left: 34px;
      padding-bottom: 10px;
      list-style: outside !important;
      list-style-type: none !important;
      position: relative;
      font-size: 18px !important;
      line-height: 32px !important;
      margin-left: 0;
      color: var(--color_black) !important;
      &::before {
        content: "";
        width: 20px;
        height: 20px;
        left: 0;
        top: 6px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cg clip-path='url(%23clip0_30_12)'%3E%3Ccircle cx='10' cy='10' r='10' fill='%230d9a9a'/%3E%3Cpath d='M8.08102 13.9311C8.18816 14.0217 8.34951 14.0235 8.45897 13.9333C10.8471 11.9585 13.024 9.88733 15.6214 7.7973C15.8456 7.61698 15.9792 7.36482 15.9978 7.08682C16.0551 6.22275 14.9755 5.65693 14.2418 6.23531C12.0196 7.98443 10.1719 9.57103 8.44857 11.2108C8.1099 10.8884 7.65676 10.4271 7.09779 9.83522C6.66554 9.3777 5.88549 9.2986 5.36077 9.79257C4.89989 10.2261 4.8779 10.9221 5.31028 11.3773C6.35388 12.4751 7.00913 13.0229 8.08102 13.9311Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_30_12'%3E%3Crect width='20' height='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
        background-position: -460px -80px;
        position: absolute;
      }
    }
  }
}

.button-primary {
  color: var(--white_color) !important;
  border: 1px solid var(--theme-color) !important;
  background: var(--theme-color) !important;
  &:hover {
    background: transparent !important;
    color: var(--color_black) !important;
  }
}

.button-white {
  color: var(--color_black) !important;
  background: var(--white_color);
  border: 1px solid var(--white_color);
  &:hover {
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
      0 4px 6px -4px rgb(0 0 0 / 0.1);
  }
}

/* Style regular text inside the tech-content div */
.tech-content p {
  color: #333 !important;
  font-size: 16px !important;
  line-height: 1.5 !important;
}

/* Style JavaScript code snippets inside the tech-content div */
.tech-content {
  pre.language-javascript,
  pre.language-markup,
  pre.language-java {
    background-color: #f4f4f4;
    color: #333;
    padding: 1em;
    overflow-x: auto;
    font-size: 14px;
    margin-bottom: 16px;
    border-left: solid 6px var(--main_menu_hover_color);
  }
}

/* Style code blocks within the pre tag */
.tech-content pre.language-javascript code {
  display: block;
}

.our-work-list-icon {
  ul {
    li {
      padding-left: 40px;
      padding-bottom: 10px;
      list-style: outside !important;
      list-style-type: none !important;
      position: relative;
      margin-left: 0;
      &::before {
        content: "";
        width: 23px;
        height: 22px;
        left: 0;
        top: 6px;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='22' viewBox='0 0 24 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.4079 21.4038C4.66907 21.4038 0.00390625 16.7386 0.00390625 10.9998C0.00390625 5.26092 4.66907 0.595703 10.4079 0.595703C13.0396 0.595703 15.5091 1.55151 17.4331 3.3152C16.7931 3.69361 16.1756 4.11278 15.5815 4.56649C14.1237 3.39038 12.311 2.74284 10.4079 2.74284C5.85979 2.74284 2.15105 6.45164 2.15105 10.9998C2.15105 15.5479 5.85979 19.2567 10.4079 19.2567C16.7362 19.2567 20.4934 12.4922 17.7715 7.23278C18.184 6.84916 18.6086 6.47733 19.0444 6.11791C19.1731 6.01178 19.3029 5.90664 19.4336 5.80255C20.3441 7.37518 20.8122 9.15824 20.8122 10.9997C20.812 16.7386 16.1468 21.4038 10.4079 21.4038Z' fill='%230D6565'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.6801 16.349C10.563 16.349 10.4654 16.2709 10.4264 16.1733C10.4069 16.1343 8.72816 11.8009 6.13201 10.1612C5.62449 9.8489 5.23417 9.51705 5.3903 8.77528C5.54642 8.05305 6.03446 7.64313 6.91281 7.44792C8.47437 7.11606 10.1531 9.53654 10.7777 10.5321C12.9639 7.35036 17.3364 2.35323 23.6998 1.76765C24.0068 1.73166 24.1203 2.1867 23.8365 2.3142C23.7389 2.35323 14.6426 6.51104 10.9534 16.1929C10.8948 16.2904 10.7972 16.349 10.6801 16.349Z' fill='%230D6565'/%3E%3C/svg%3E");
        background-position: -456px -88px;
        position: absolute;
      }
    }

    li.white-icon::before {
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.4079 22.4038C4.66907 22.4038 0.00390625 17.7386 0.00390625 11.9998C0.00390625 6.26092 4.66907 1.5957 10.4079 1.5957C13.0396 1.5957 15.5091 2.55151 17.4331 4.3152C16.7931 4.69361 16.1756 5.11278 15.5815 5.56649C14.1237 4.39038 12.311 3.74284 10.4079 3.74284C5.85979 3.74284 2.15105 7.45164 2.15105 11.9998C2.15105 16.5479 5.85979 20.2567 10.4079 20.2567C16.7362 20.2567 20.4934 13.4922 17.7715 8.23278C18.184 7.84916 18.6086 7.47733 19.0444 7.11791C19.1731 7.01178 19.3029 6.90664 19.4336 6.80255C20.3441 8.37518 20.8122 10.1582 20.8122 11.9997C20.812 17.7386 16.1468 22.4038 10.4079 22.4038Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.6801 17.349C10.563 17.349 10.4654 17.2709 10.4264 17.1733C10.4069 17.1343 8.72816 12.8009 6.13201 11.1612C5.62449 10.8489 5.23417 10.517 5.3903 9.77528C5.54642 9.05305 6.03446 8.64313 6.91281 8.44792C8.47437 8.11606 10.1531 10.5365 10.7777 11.5321C12.9639 8.35036 17.3364 3.35323 23.6998 2.76765C24.0068 2.73166 24.1203 3.1867 23.8365 3.3142C23.7389 3.35323 14.6426 7.51104 10.9534 17.1929C10.8948 17.2904 10.7972 17.349 10.6801 17.349Z' fill='white'/%3E%3C/svg%3E") !important;
      background-position: -456px -98px;
      padding-bottom: 8px;
    }
  }
}

.portfolio-swipers {
  position: relative;

  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    bottom: 0; /* Center vertically */
    transform: translateY(40%); /* Adjust for exact centering */
    height: auto;
    width: auto;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .swiper-button-next {
    right: 38%;
  }

  .swiper-button-prev {
    left: 38%; /* Align on the left side */
  }

  .swiper-button-next::before,
  .swiper-button-prev::before {
    content: "" !important;
    background: 0 0 !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    width: 60px;
    height: 60px;
    border: 1px solid transparent;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .swiper-button-next::before {
    background-image: url(/images/p-swiper-right.svg) !important;
    transform: rotate(0deg);
  }

  .swiper-button-prev::before {
    background-image: url(/images/p-swiper-right.svg) !important;
    transform: rotate(180deg);
  }

  .swiper-button-next:hover::before {
    background-image: url(/images/p-swiper-right-theme.svg.svg) !important;
  }

  .swiper-button-prev:hover::before {
    background-image: url(/images/p-swiper-right-theme.svg.svg) !important;
    transform: rotate(180deg);
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none;
  }
}

/* Add responsive styles for different screen sizes */
@media screen and (max-width: 600px) {
  .tech-content {
    padding: 1em;
  }
}
