.h1-border-b {
  background-image: linear-gradient(0deg, #ffffff, #ffffff),
    linear-gradient(90deg, #0182ea 0%, #0182ea 29.48%, #01dbd4 58.95%, #ffffff 82.12%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border-bottom: 8px solid transparent;
}

.h1-border-b .section-color {
  background-image: linear-gradient(0deg, #f2f3f3, #f2f3f3),
    linear-gradient(90deg, #0182ea 0%, #0182ea 29.48%, #01dbd4 58.95%, #ffffff 82.12%);
}

@media screen and (max-width: 767px) {
  .h1-border-b {
    border-bottom: 4px solid transparent;
  }
}

.h2-bg-border-b {
  background-image: linear-gradient(0deg, #f2f3f3, #f2f3f3),
    linear-gradient(90deg, #0182ea 0%, #0182ea 29.48%, #01dbd4 58.95%, #f2f3f3 82.12%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border-bottom: 8px solid transparent;
}

.tech-content p {
  color: #333 !important;
  font-size: 16px !important;
  line-height: 1.5 !important;
}

.tech-content pre.language-javascript,
.tech-content pre.language-markup,
.tech-content pre.language-java {
  background-color: #f4f4f4;
  color: #333;
  padding: 1em;
  overflow-x: auto;
  font-size: 14px;
  margin-bottom: 16px;
  border-left: solid 6px var(--theme-color);
}

.tech-content pre.language-javascript code {
  display: block;
}

.our-work-list-icon ul li {
  padding-left: 40px;
  padding-bottom: 10px;
  list-style: outside !important;
  list-style-type: none !important;
  position: relative;
  margin-left: 0;
}

.our-work-list-icon ul li::before {
  content: "";
  width: 23px;
  height: 22px;
  left: 0;
  top: 6px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='22' viewBox='0 0 24 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.4079 21.4038C4.66907 21.4038 0.00390625 16.7386 0.00390625 10.9998C0.00390625 5.26092 4.66907 0.595703 10.4079 0.595703C13.0396 0.595703 15.5091 1.55151 17.4331 3.3152C16.7931 3.69361 16.1756 4.11278 15.5815 4.56649C14.1237 3.39038 12.311 2.74284 10.4079 2.74284C5.85979 2.74284 2.15105 6.45164 2.15105 10.9998C2.15105 15.5479 5.85979 19.2567 10.4079 19.2567C16.7362 19.2567 20.4934 12.4922 17.7715 7.23278C18.184 6.84916 18.6086 6.47733 19.0444 6.11791C19.1731 6.01178 19.3029 5.90664 19.4336 5.80255C20.3441 7.37518 20.8122 9.15824 20.8122 10.9997C20.812 16.7386 16.1468 21.4038 10.4079 21.4038Z' fill='%230D6565'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.6801 16.349C10.563 16.349 10.4654 16.2709 10.4264 16.1733C10.4069 16.1343 8.72816 11.8009 6.13201 10.1612C5.62449 9.8489 5.23417 9.51705 5.3903 8.77528C5.54642 8.05305 6.03446 7.64313 6.91281 7.44792C8.47437 7.11606 10.1531 9.53654 10.7777 10.5321C12.9639 7.35036 17.3364 2.35323 23.6998 1.76765C24.0068 1.73166 24.1203 2.1867 23.8365 2.3142C23.7389 2.35323 14.6426 6.51104 10.9534 16.1929C10.8948 16.2904 10.7972 16.349 10.6801 16.349Z' fill='%230D6565'/%3E%3C/svg%3E");
  background-position: -456px -88px;
  position: absolute;
}

.our-work-list-icon ul li.white-icon::before {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.4079 22.4038C4.66907 22.4038 0.00390625 17.7386 0.00390625 11.9998C0.00390625 6.26092 4.66907 1.5957 10.4079 1.5957C13.0396 1.5957 15.5091 2.55151 17.4331 4.3152C16.7931 4.69361 16.1756 5.11278 15.5815 5.56649C14.1237 4.39038 12.311 3.74284 10.4079 3.74284C5.85979 3.74284 2.15105 7.45164 2.15105 11.9998C2.15105 16.5479 5.85979 20.2567 10.4079 20.2567C16.7362 20.2567 20.4934 13.4922 17.7715 8.23278C18.184 7.84916 18.6086 7.47733 19.0444 7.11791C19.1731 7.01178 19.3029 6.90664 19.4336 6.80255C20.3441 8.37518 20.8122 10.1582 20.8122 11.9997C20.812 17.7386 16.1468 22.4038 10.4079 22.4038Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.6801 17.349C10.563 17.349 10.4654 17.2709 10.4264 17.1733C10.4069 17.1343 8.72816 12.8009 6.13201 11.1612C5.62449 10.8489 5.23417 10.517 5.3903 9.77528C5.54642 9.05305 6.03446 8.64313 6.91281 8.44792C8.47437 8.11606 10.1531 10.5365 10.7777 11.5321C12.9639 8.35036 17.3364 3.35323 23.6998 2.76765C24.0068 2.73166 24.1203 3.1867 23.8365 3.3142C23.7389 3.35323 14.6426 7.51104 10.9534 17.1929C10.8948 17.2904 10.7972 17.349 10.6801 17.349Z' fill='white'/%3E%3C/svg%3E") !important;
  background-position: -456px -98px;
  padding-bottom: 8px;
}

.li-tick-mark ul li.small {
  padding-left: 30px;
}

.li-tick-mark ul li {
  padding-left: 40px;
  padding-bottom: 10px;
  list-style: outside !important;
  list-style-type: none !important;
  position: relative;
  margin-left: 0;
}

.li-tick-mark ul li::before {
  content: "";
  width: 30px;
  height: 30px;
  left: 0;
  top: -1px;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.9997 1.83301C8.18814 1.83301 1.83301 8.18814 1.83301 15.9997C1.83301 23.8112 8.18814 30.1663 15.9997 30.1663C23.8112 30.1663 30.1663 23.8112 30.1663 15.9997C30.1663 8.18814 23.8112 1.83301 15.9997 1.83301ZM15.9997 28.4997C9.10711 28.4997 3.49967 22.8922 3.49967 15.9997C3.49967 9.10711 9.10711 3.49967 15.9997 3.49967C22.8922 3.49967 28.4997 9.10711 28.4997 15.9997C28.4997 22.8922 22.8922 28.4997 15.9997 28.4997Z' fill='%23FF5B5B'/%3E%3Cpath d='M22.4645 11.4404L15.112 18.7928L11.3395 15.0206C11.0143 14.6951 10.4863 14.6951 10.1611 15.0206C9.83561 15.346 9.83561 15.8737 10.1611 16.199L14.5228 20.5605C14.6854 20.7233 14.8988 20.8047 15.112 20.8047C15.3252 20.8047 15.5386 20.7233 15.7012 20.5605L23.6429 12.6188C23.9684 12.2934 23.9684 11.7658 23.6429 11.4404C23.3177 11.1149 22.7897 11.1149 22.4645 11.4404Z' fill='%23FF5B5B'/%3E%3C/svg%3E%0A");
  background-position: -448px -96px;
  position: absolute;
}

@media screen and (max-width: 767px) {
  .li-tick-mark ul li::before {
    scale: 70%;
    background-position: -449px -97px;
  }
}

.li-tick-mark ul li.green::before {
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='33' viewBox='0 0 32 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.9997 2.33301C8.18814 2.33301 1.83301 8.68814 1.83301 16.4997C1.83301 24.3112 8.18814 30.6663 15.9997 30.6663C23.8112 30.6663 30.1663 24.3112 30.1663 16.4997C30.1663 8.68814 23.8112 2.33301 15.9997 2.33301ZM15.9997 28.9997C9.10711 28.9997 3.49967 23.3922 3.49967 16.4997C3.49967 9.60711 9.10711 3.99967 15.9997 3.99967C22.8922 3.99967 28.4997 9.60711 28.4997 16.4997C28.4997 23.3922 22.8922 28.9997 15.9997 28.9997Z' fill='%2305C37A'/%3E%3Cpath d='M22.4645 11.9404L15.112 19.2928L11.3395 15.5206C11.0143 15.1951 10.4863 15.1951 10.1611 15.5206C9.83561 15.846 9.83561 16.3737 10.1611 16.699L14.5228 21.0605C14.6854 21.2233 14.8988 21.3047 15.112 21.3047C15.3252 21.3047 15.5386 21.2233 15.7012 21.0605L23.6429 13.1188C23.9684 12.7934 23.9684 12.2658 23.6429 11.9404C23.3177 11.6149 22.7897 11.6149 22.4645 11.9404Z' fill='%2305C37A'/%3E%3C/svg%3E%0A");
  background-position: -448px -100px;
}

@media screen and (max-width: 767px) {
  .li-tick-mark ul li.green::before {
    background-position: -449px -100px;
  }
}

.li-tick-mark ul li.blue::before {
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='33' viewBox='0 0 32 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.9997 2.33301C8.18814 2.33301 1.83301 8.68814 1.83301 16.4997C1.83301 24.3112 8.18814 30.6663 15.9997 30.6663C23.8112 30.6663 30.1663 24.3112 30.1663 16.4997C30.1663 8.68814 23.8112 2.33301 15.9997 2.33301ZM15.9997 28.9997C9.10711 28.9997 3.49967 23.3922 3.49967 16.4997C3.49967 9.60711 9.10711 3.99967 15.9997 3.99967C22.8922 3.99967 28.4997 9.60711 28.4997 16.4997C28.4997 23.3922 22.8922 28.9997 15.9997 28.9997Z' fill='%23017EEB'/%3E%3Cpath d='M22.4645 11.9404L15.112 19.2928L11.3395 15.5206C11.0143 15.1951 10.4863 15.1951 10.1611 15.5206C9.83561 15.846 9.83561 16.3737 10.1611 16.699L14.5228 21.0605C14.6854 21.2233 14.8988 21.3047 15.112 21.3047C15.3252 21.3047 15.5386 21.2233 15.7012 21.0605L23.6429 13.1188C23.9684 12.7934 23.9684 12.2658 23.6429 11.9404C23.3177 11.6149 22.7897 11.6149 22.4645 11.9404Z' fill='%23017EEB'/%3E%3C/svg%3E%0A");
  background-position: -448px -100px;
}

@media screen and (max-width: 767px) {
  .li-tick-mark ul li.blue::before {
    background-position: -449px -100px;
  }
}

.li-tick-mark ul li.blue.small::before {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 1.375C6.14135 1.375 1.375 6.14135 1.375 12C1.375 17.8587 6.14135 22.625 12 22.625C17.8587 22.625 22.625 17.8587 22.625 12C22.625 6.14135 17.8587 1.375 12 1.375ZM12 21.375C6.83057 21.375 2.625 17.1694 2.625 12C2.625 6.83057 6.83057 2.625 12 2.625C17.1694 2.625 21.375 6.83057 21.375 12C21.375 17.1694 17.1694 21.375 12 21.375Z' fill='%23017EEB'/%3E%3Cpath d='M16.8482 8.57958L11.3337 14.0939L8.50441 11.2648C8.26051 11.0206 7.86451 11.0206 7.62061 11.2648C7.37646 11.5088 7.37646 11.9045 7.62061 12.1486L10.8919 15.4197C11.0138 15.5418 11.1738 15.6028 11.3338 15.6028C11.4937 15.6028 11.6537 15.5418 11.7757 15.4197L17.7319 9.46338C17.9761 9.21935 17.9761 8.8236 17.7319 8.57958C17.488 8.33545 17.092 8.33545 16.8482 8.57958Z' fill='%23017EEB'/%3E%3C/svg%3E%0A");
  width: 22px;
  height: 22px;
  background-position: -457px -97px;
  top: 1px;
}

.gradient-text-blue {
  background: linear-gradient(159.52deg, #007aeb -3.23%, #008ce7 33.69%, #00dbd3 85.35%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.img-selection-none {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.our-team-swiper .splide__arrow {
  background: white !important;
  width: 56px !important;
  height: 56px !important;
}

@media screen and (max-width: 767px) {
  .our-team-swiper .splide__arrow {
    top: -4% !important;
    width: 35px !important;
    height: 35px !important;
  }
}

.our-team-swiper .splide__arrow--next {
  right: -5em !important;
}

@media screen and (max-width: 1024px) {
  .our-team-swiper .splide__arrow--next {
    right: 1em !important;
  }
}

@media screen and (max-width: 767px) {
  .our-team-swiper .splide__arrow--next {
    right: 0.2em !important;
  }
}

.our-team-swiper .splide__arrow--prev {
  left: -5em !important;
}

@media screen and (max-width: 1024px) {
  .our-team-swiper .splide__arrow--prev {
    left: 1em !important;
  }
}

@media screen and (max-width: 767px) {
  .our-team-swiper .splide__arrow--prev {
    left: 16em !important;
  }
}

@media screen and (max-width: 400px) {
  .our-team-swiper .splide__arrow--prev {
    left: 15em !important;
  }
}

.splide__track--nav > .splide__list > .splide__slide.is-active {
  border: 3px solid transparent !important;
}

.splide__pagination__page {
  width: 6px !important;
  height: 12px !important;
  border-radius: 30px !important;
}

.splide__pagination {
  bottom: -1em !important;
}

@media screen and (max-width: 767px) {
  .splide__pagination {
    bottom: -0.5em !important;
  }
}

.splide__pagination__page.is-active {
  width: 8px !important;
  height: 20px !important;
  background: var(--theme-color) !important;
}

.footer-background {
  width: 100vw;
  background: url("/images/v2/footer-background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.gradient-text {
  background: linear-gradient(87.38deg, #0182ea 35.49%, #0182ea 43.25%, #01dbd4 51.02%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.gradient-text2 {
  background: linear-gradient(180.78deg, #007aeb 44.88%, #008ce7 52%, #00dbd3 60.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.case-study-section {
  background-image: url("/images/v2/case-study-bg-main.webp");
  width: 100%;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

@media screen and (max-width: 767px) {
  .case-study-section {
    background-image: linear-gradient(to top, var(--navyBlue), var(--theme-color));
  }
}

.cta-background {
  background-image: url("/images/v2/cta-bg.png");
  width: 100%;
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}

.contact-us-banner {
  background-image: url("/images/v2/book-free-consultaion.webp");
  width: 100%;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

@media screen and (max-width: 767px) {
  .contact-us-banner {
    background-image: linear-gradient(to top, var(--navyBlue), var(--theme-color));
  }
}

.about-us-banner {
  background-image: url("/images/v2/about-us-banner.webp");
  width: 100%;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

@media screen and (max-width: 767px) {
  .about-us-banner {
    background-image: linear-gradient(to top, var(--navyBlue), var(--theme-color));
  }
}

.case-study-detail {
  background-image: url("/images/v2/case-study-inner.webp");
  width: 100%;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

@media screen and (max-width: 767px) {
  .case-study-detail {
    background-image: linear-gradient(to top, var(--navyBlue), var(--theme-color));
  }
}

.download-case-study {
  background-image: url("/images/v2/download-case-study.webp");
  width: 100%;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

@media screen and (max-width: 767px) {
  .download-case-study {
    background-image: linear-gradient(to top, var(--navyBlue), var(--theme-color));
  }
}

.hire-team-section {
  background-image: url("/images/v2/hire-banner-1.webp");
  width: 100%;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

@media screen and (max-width: 767px) {
  .hire-team-section {
    background-image: linear-gradient(to top, var(--navyBlue), var(--theme-color));
  }
}

.hire-team-section-l {
  background-image: url("/images/v2/hire-banner-2.webp");
  width: 100%;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

@media screen and (max-width: 767px) {
  .hire-team-section-l {
    background-image: linear-gradient(to top, var(--navyBlue), var(--theme-color));
  }
}

.blog-listing-section {
  background-image: url("/images/v2/blog-page-bg-banner.webp");
  width: 100%;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

@media screen and (max-width: 767px) {
  .blog-listing-section {
    background-image: linear-gradient(to top, var(--navyBlue), var(--theme-color));
  }
}

.hire-team-contact-section {
  background-image: url("/images/v2/hire-team-contact-banner.webp");
  width: 100%;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

.ai-solution-section {
  background-image: url("/images/v2/hire-banner-2.webp");
  width: 100%;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

@media screen and (max-width: 767px) {
  .ai-solution-section {
    background-image: linear-gradient(to top, var(--navyBlue), var(--theme-color));
  }
}

.service-hero-bg {
  background-image: url("/images/v2/services-bg.webp");
  width: 100%;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

@media screen and (max-width: 767px) {
  .service-hero-bg {
    background-image: linear-gradient(to top, var(--navyBlue), var(--theme-color));
  }
}

.overview-bubble {
  background: url(/images/v2/vision-bubble.svg);
}

.brilliant-icon {
  padding: 1px 1px 2px 1px;
  background: linear-gradient(150.51deg, #007aeb 12.91%, #008ce7 45.61%, #00dbd3 91.35%);
}

.trusted-by-border {
  background: #e6e6e6;
  padding: 1px 1px 2px 1px;
}

.trusted-by-border:hover {
  background: linear-gradient(150.51deg, #007aeb 12.91%, #008ce7 45.61%, #00dbd3 91.35%);
}

.footer-new {
  grid-template-columns: 1fr 2fr;
}

@media screen and (max-width: 1024px) {
  .footer-new {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 600px) {
  .tech-content {
    padding: 1em;
  }
}

.container-cta {
  position: relative;
}

.container-cta::before {
  content: "";
  position: absolute;
  top: -50%;
  left: 0;
  right: 0;
  background: linear-gradient(
    159.52deg,
    rgba(0, 122, 235, 0.7) -3.23%,
    rgba(0, 140, 231, 0.7) 33.69%,
    rgba(0, 219, 211, 0.7) 85.35%
  );
  filter: blur(64px);
  width: 800px;
  height: 188px;
  margin: 0 auto;
  border-radius: 300px;
  z-index: 0;
}

@media screen and (max-width: 767px) {
  .container-cta::before {
    top: -55%;
  }
}

.content {
  position: relative;
  z-index: 1;
}

.video-container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  aspect-ratio: 16 / 9;
}

.video-container::before {
  content: "";
  position: absolute;
  top: -32px;
  left: -32px;
  right: -32px;
  bottom: -32px;
  background: linear-gradient(320.21deg, #edffff 21.31%, #93c5fd 74.53%);
  border-radius: 24px;
  z-index: -1;
}

@media screen and (max-width: 767px) {
  .video-container::before {
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
  }
}

.video-container iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.iframe-bg {
  background: linear-gradient(320.21deg, #edffff 21.31%, #c9f5fc 74.53%);
}
