/* Style regular text inside the tech-content div */
.tech-content p {
  color: #333 !important;
  font-size: 16px !important;
  line-height: 1.5 !important;
}

/* Style JavaScript code snippets inside the tech-content div */
.tech-content {
  pre.language-javascript,
  pre.language-markup,
  pre.language-java {
    background-color: #f4f4f4;
    color: #333;
    padding: 1em;
    overflow-x: auto;
    font-size: 14px;
    margin-bottom: 16px;
    border-left: solid 6px var(--main_menu_hover_color);
  }
}

/* Style code blocks within the pre tag */
.tech-content pre.language-javascript code {
  display: block;
}

/* Add responsive styles for different screen sizes */
@media screen and (max-width: 600px) {
  .tech-content {
    padding: 1em;
  }
}
