@import "./Blogstyle.scss";
@import "./custom-style.scss";
@import "./Services.scss";
@import "../components//Login/Loginstyle.scss";
@import "../components//Dashboard/Dashboard.scss";
@import "../components//PrivacyPolicy/privacypolicy.scss";

.header {
  a {
    cursor: pointer !important;
  }
}

.header.header-bg-white {
  background-color: #ffffff !important;
  box-shadow: 0 2px 10px -1px rgb(0 0 0 / 20%) !important;
}

.header.header-bg-dark {
  background-color: #000000e6 !important;
  box-shadow: 0 2px 10px -1px rgb(0 0 0 / 20%) !important;
}
.header-hide {
  top: -150px !important;
}

.menu-shadow {
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.1) !important;
}
.header_img1 img {
  border-radius: 30px;
}

.accordion-title {
  padding: 1.5rem 0;
  border-bottom: 1px solid var(--color_gray);
  p {
    font-size: var(--font_36);
    font-family: var(--global-font);
    color: var(--color_black);
    width: fit-content;
    font-weight: 400;
    line-height: 2.5rem;
    @media screen and (max-width: 1152px) {
      font-size: 1.5rem;
    }
  }
  @media screen and (max-width: 1080px) {
    padding: 1rem 0;
  }
}

.mega-menu-content {
  transition: all 0.6s ease !important;
  height: fit-content;
  padding-bottom: 10px;
  padding-left: 3rem;
  width: 95%;
  overflow: hidden;
  p {
    font-size: var(--font_32);
    font-family: var(--global-font);
    width: fit-content;
    font-weight: 400;
    line-height: 2.5rem;
    @media screen and (max-width: 1152px) {
      font-size: 1rem;
    }
    @media screen and (max-width: 767px) {
      line-height: 1.5rem;
    }
  }
  @media screen and (max-width: 767px) {
    padding-left: 1rem !important;
    width: 100%;
  }
}
.mega-menu-items-group {
  display: grid;
  gap: 2rem 7rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  flex: 1;
  @media only screen and (max-width: 1366px) and (min-width: 767px) {
    gap: 1rem 0 !important;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    flex: 0.8;
  }
}

.home_header {
  background: url("https://a.storyblok.com/f/219851/1920x1000/8028e1d772/banner.jpg");
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  @media only screen and (max-width: 767px) {
    height: 94vh;
  }
  @media only screen and (max-width: 980px) {
    height: 700px;
  }
}

.hero-section {
  background-image: url("/images/v2/hero-pg-main.webp");
  width: 100%;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  @media screen and (max-width: 767px) {
    background-image: linear-gradient(
      to top,
      var(--navyBlue),
      var(--theme-color)
    );
    .banner-layer {
      background: linear-gradient(
        0deg,
        rgba(18, 18, 18, 0.49) 0%,
        rgba(9, 9, 9, 0.49) 22.77%,
        rgba(0, 0, 0, 0.7) 45.54%,
        rgba(0, 0, 0, 0.7) 75%,
        rgba(0, 0, 0, 0.7) 100%
      );
    }
  }
}
.banner-layer {
  background: linear-gradient(
    180deg,
    rgba(18, 18, 18, 0.49) 0%,
    rgba(9, 9, 9, 0.49) 22.77%,
    rgba(0, 0, 0, 0.7) 45.54%,
    rgba(0, 0, 0, 0.7) 75%,
    rgba(0, 0, 0, 0.7) 100%
  );
}

.we-serve-bg {
  background-image: url("/images/v2/we-serve.png");
  width: 100%;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}
.we-serve-dark {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}
.gradient-border {
  border-width: 1px, 1px, 4px, 1px;
  border-style: solid;
  border-image-source: linear-gradient(
    150.51deg,
    #007aeb 12.91%,
    #008ce7 45.61%,
    #00dbd3 91.35%
  );
}
.homepage-work-domain,
.accordion-tab-section,
.homepage-extension-team {
  button {
    font-weight: 400;
  }
  h3 {
    font-size: 1.75rem;
    font-weight: 600;
  }
  .accordion-body,
  .about_txt_domain {
    font-size: var(--font_20);
    line-height: 1.75rem !important;
  }
  .about_btn {
    line-height: 2rem;
  }
}

.video-play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg-building-shadow {
  background: url("/images/v2/low-angle-view-modern-buildings-against-sky.png");
  width: 100%;
  background-size: contain;
  background-position: 18%;
  background-repeat: no-repeat;
  @media screen and (max-width: 767px) {
    background: none;
  }
}

.client-review-swipers {
  .swiper-button-next {
    position: absolute;
    right: 2rem;
    bottom: 1%;
    top: unset;
    height: auto;
    width: auto;
  }

  .swiper-button-next::before {
    content: "" !important;
    background: 0 0 !important;
    background-image: url(/images/blue-right-arrow.png) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    width: 60px;
    height: 60px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: 1px solid transparent;
  }

  .swiper-button-next:hover::before {
    background-image: url(/images/v2/right-arrow-with-bg.svg) !important;
  }

  .swiper-button-next::after {
    display: none;
  }

  .swiper-button-prev {
    position: absolute;
    right: 6.5rem;
    left: unset;
    bottom: 1%;
    top: unset;
    height: auto;
    width: auto;
  }

  .swiper-button-prev::before {
    content: "" !important;
    background: 0 0 !important;
    background-image: url(/images/blue-left-arrow.png) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    width: 60px;
    height: 60px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: 1px solid transparent;
  }

  .swiper-button-prev:hover::before {
    background-image: url(/images/v2/left-arrow-with-bg.svg) !important;
  }

  .swiper-button-prev::after {
    display: none;
  }
}

.homepage-extension-team {
  .accordion-body {
    padding: 0px;
  }
}

.v2-contact-form {
  .dark {
    .form-field {
      background: #081120;
      color: white !important;
      border-radius: 6px;
      border: 1px solid #2d3540 !important;
    }
  }
  .form-field {
    size: 18px;
    line-height: 28px;
    border-radius: 6px;
    padding: 15px 20px;
    border: 1px solid var(--border-gray);
    @media screen and (max-width: 767px) {
      padding: 10px 14px;
    }
  }
}

.work-swiper {
  .swiper {
    width: 90% !important;

    .swiper-wrapper {
      padding: 0 0 4rem !important;
    }
  }

  .swiper-slide-next {
    margin-top: 4rem !important;
  }
  .slide-style {
    padding: 3rem 2rem;
    border-radius: 30px;
  }

  .portfolio-title {
    display: none !important;
    font-size: var(--font_32);
    color: var(--color_black);
    padding: 1rem 0;
  }

  .portfolio-title-new {
    display: block !important;
    font-size: var(--font_32);
    color: var(--color_black);
    padding: 1rem 0;
  }

  .portfolio-desc {
    display: none !important;
    font-size: var(--font_16);
    color: var(--color_black);
  }

  .desc-height {
    height: 200px !important;
  }
}

.portfolio_slides_homepage:hover {
  .portfolio-desc {
    display: block !important;
  }

  .portfolio-title {
    display: block !important;
  }

  .portfolio-title-new {
    display: none !important;
  }
}

.work-swiper,
.software-review-container {
  .swiper-pagination-bullet {
    margin-bottom: 4px !important;
    border-radius: 30px;
    width: 6px;
    height: 12px;
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
    background: var(--theme-color);
    width: 8px;
    height: 20px;
    margin-bottom: 0px !important;
  }
}

.honors-swiper {
  .swiper {
    width: 100%;

    .swiper-wrapper {
      padding: 0 0 4rem !important;
    }
  }
  .swiper-slide {
    padding: 0 15px;
  }
  .swiper-pagination-bullet {
    margin-bottom: 4px !important;
    border-radius: 30px;
    width: 6px;
    height: 12px;
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
    background: var(--theme-color);
    width: 8px;
    height: 20px;
    margin-bottom: 0px !important;
  }
}

.award {
  padding: 2rem 0;
  background-color: #fff;
  border-radius: 16px;
  position: relative;
}
.honors-card {
  margin-bottom: 1rem;
  border-radius: 16px;
  border: 1px solid #80808040;
  transition: all 0.6s ease;
}
.honors-card:hover {
  padding: 1px 1px 4px 1px;
  border: none;
  background: linear-gradient(
    150.51deg,
    #007aeb 12.91%,
    #008ce7 45.61%,
    #00dbd3 91.35%
  );
}

.honors-card {
  margin-bottom: 1rem;
  border-radius: 16px;
  border: 1px solid #80808040;
  transition: all 0.6s ease;
}
.honors-card:hover {
  padding: 1px 1px 4px 1px;
  border: none;
  background: linear-gradient(
    150.51deg,
    #007aeb 12.91%,
    #008ce7 45.61%,
    #00dbd3 91.35%
  );
  border-image-source: linear-gradient(
    167.42deg,
    #007aeb -0.42%,
    #008ce7 42.32%,
    #00dbd3 102.1%
  );
}

.award_sec8_img1 {
  width: 60%;
  max-height: 140px;
  margin: 0 auto;
  display: grid;
  place-items: center;
  min-height: 140px;
}

.clutch-widget {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
}

.success-msg {
  color: var(--color_black);
  font-size: 1rem;
}

.software-review-head {
  padding: 8rem 0 0rem;

  .clutch-widget {
    p {
      font-size: 2rem;
    }

    .clutch-power {
      position: relative;
      left: 50px;
    }
  }
}

.software-review-container {
  .home_sec3_box {
    border-radius: 10px !important;
  }

  .clutch-swiper .dots_flex {
    background: transparent !important;
    gap: 0.5rem !important;

    .dots {
      width: 6px !important;
      height: 6px !important;
    }
  }

  .clutch-swiper .white-background {
    padding: 0px 15px 0px 10px !important;
  }

  .clutch_content {
    min-height: 120px !important;
  }

  .clutch_position {
    margin-bottom: 20px;
    height: 60px;
  }

  .clutch_position p {
    font-size: 14px;
  }

  .swiper-wrapper {
    padding-bottom: 4rem !important;
  }

  .swiper-pagination {
    margin-top: 10px;
  }
}
.accordion-item {
  a:hover {
    .aerrow {
      .black_aerrow {
        opacity: 0 !important;
      }
    }
  }
}

.big-text-stroke {
  color: var(--theme-color);
  font-weight: 700;
}

@media only screen and (max-width: 1280px) and (min-width: 768px) {
  .accordion-item {
    a:hover {
      .aerrow {
        .black_aerrow {
          opacity: 0 !important;
        }
      }
    }
  }
}
@media only screen and (max-width: 1080px) and (min-width: 768px) {
  .video-play-icon {
    display: none;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .work-swiper {
    .swiper-slide-next {
      margin-top: 0rem !important;
    }
  }
}

@media only screen and (max-width: 767px) {
  .homepage-work-domain,
  .accordion-tab-section,
  .homepage-extension-team {
    h3 {
      font-size: var(--font_20);
    }
    .accordion-body,
    .about_txt_domain {
      font-size: var(--font_16);
      line-height: 1.5rem !important;
    }
  }

  .work-swiper {
    .swiper-slide-next {
      margin-top: 0 !important;
    }

    .swiper-wrapper {
      padding: 0 0 4rem !important;
    }
    .portfolio-title {
      display: block !important;
    }

    .portfolio-title-new {
      display: none !important;
    }

    .portfolio-desc {
      display: block !important;
    }

    .desc-height {
      height: 200px !important;
    }
  }

  .slide-style {
    padding: 2rem 1rem;
  }

  .portfolio-home {
    height: 287px !important;
  }

  .award {
    padding: 1.5rem 0;
  }

  .portfolio_slides_homepage:hover {
    .portfolio-desc {
      display: block !important;
    }

    .portfolio-title {
      display: block !important;
    }

    .portfolio-title-new {
      display: none !important;
    }
  }

  .software-review-head {
    padding: 2rem 0 0rem;
  }
  .accordion-item {
    a:hover {
      .aerrow {
        .black_aerrow {
          opacity: 0 !important;
        }
      }
    }
  }
}

.career_review .clutch_content p,
.career_review .clutch_position p:nth-child(1) {
  font-size: var(--font_24);
  font-family: var(--global-font);
  min-height: 160px;
}
.career_review .clutch-swiper {
  .white-background {
    border-radius: 0 0 30px 30px !important;
  }
  .white-background:hover {
    background: var(--theme-color);
    border-radius: 0 0 30px 30px !important;
    border-top: 1px solid var(--theme-color);
    transition: all 0.3s;
    p {
      color: var(--white_color);
      font-weight: 500;
    }
  }
}

.career_review .clutch_position p:nth-child(1) {
  min-height: unset !important;
}

.software-review-container .career_review .clutch-swiper .white-background {
  padding: 24px !important;
}

.career_review .dots_flex {
  border-bottom: 1px solid var(--theme-color);
  width: 100%;
  padding: 1.2rem;
}

.software-review-container .career_review .home_sec3_box {
  border-radius: 30px !important;
}

@media only screen and (max-width: 1700px) {
  .career_review .clutch_content p,
  .career_review .clutch_position p:nth-child(1) {
    font-size: 1.25rem;
    min-height: 160px;
  }
}
