.stickysection {
  background: #000d1e;
  scroll-behavior: smooth;
  &__sidebar {
    top: 100px;
    z-index: unset;
    position: sticky;
    min-height: 600px;
    // min-height: 80vh;

    ul {
      li {
        margin-bottom: 15px;
        &:last-child {
          margin-bottom: 0;
        }
        a {
          transition: all 0.3s ease;
        }

        &.active {
          background: linear-gradient(90deg, #017eeb 0%, #000d1e 100%);
          border-top-left-radius: 1rem;
          border-bottom-left-radius: 1rem;
          color: #ffffff;
          .numeric,
          .numeric-l {
            background: #ffffff;
            color: #17283e;
          }
        }
        &.active.left-img {
          background: linear-gradient(270deg, #017eeb 0%, #000d1e 100%);
          border-top-right-radius: 1rem;
          border-bottom-right-radius: 1rem;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          color: #ffffff;
          .numeric,
          .numeric-l {
            background: #ffffff;
            color: #17283e;
          }
        }
        .numeric {
          background: #17283e;
          color: #ffffff;
        }
        .numeric-l {
          background: #e5f4ff;
          color: var(--color_black);
        }
      }
    }
  }

  &__content {
    margin-bottom: 80vh;
  }

  &__item {
    opacity: 0;
    max-width: 686px;
    visibility: hidden;

    .title {
      color: #f2cd00;
    }

    .media {
      margin-bottom: 10px;

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

.stickysection__contentappend-explore-our-expertise,
.stickysection__contentappend-why-choose-brilworks,
.stickysection__contentappend-hire-java-developer,
.stickysection__contentappend-hire-reactjs-developer,
.stickysection__contentappend-hire-nodejs-developer,
.stickysection__contentappend-hire-aws-developer,
.stickysection__contentappend-hire-react-native-developer,
.stickysection__contentappend-hire-blockchain-developer,
.stickysection__contentappend-hire-ui-ux-designer,
.stickysection__contentappend-hire-mobile-app-developer,
.stickysection__contentappend-hire-flutterflow-developer,
.stickysection__contentappend-hire-bubble-developer,
.stickysection__contentappend-hire-adalo-developer,
.stickysection__contentappend-hire-low-code-no-code-developer,
.stickysection__contentappend-empower-digital-tranformation,
.stickysection__contentappend-fintech-services-one,
.stickysection__contentappend-fintech-services-two,
.stickysection__contentappend-healthcare-one,
.stickysection__contentappend-healthcare-two,
.stickysection__contentappend-media,
.stickysection__contentappend-fleet-one,
.stickysection__contentappend-fleet-two,
.stickysection__contentappend-process-one,
.stickysection__contentappend-process-two,
.stickysection__contentappend-gen-ai-use-case,
.stickysection__contentappend-ai-use-case,
.stickysection__contentappend-service-section {
  top: 100px;
  z-index: unset;
  position: sticky;
  //   min-height: 80vh;
  min-height: 600px;
  margin-bottom: -750px;
  // margin-bottom: -80vh;

  .stickysection__item {
    opacity: 1;
    visibility: visible;
  }
}
