# Environment made  is directly taken by NEXTJS Aplication but for client side use prefix  "NEXT_PUBLIC_" with environment variable

NEXT_PUBLIC_ACCESS_TOKEN=""
NEXT_PUBLIC_STORYBLOK_VERSION=""
NEXT_PUBLIC_TAWKPROPERTY_ID=""
NEXT_PUBLIC_TAWKWIDGET_ID=""
NEXT_PUBLIC_BASE_URL=""

facebook_pixelID=""
googleTagManagerID=""
clearbitScript_URL=""
HUBSPOT_API_BASE_URL=""
HUBSPOT_API_KEY=""
SENDGRID_DEFAULT_TO_EMAIL=""
SENDGRID_DEFAULT_FROM_EMAIL=""
SENDGRID_DEFAULT_CAREER_TEMPLATE_ID=""

NEXT_PUBLIC_GOOGLE_CLIENT_ID = 
NEXT_PUBLIC_GOOGLE_CLIENT_SECRET = 
NEXT_PUBLIC_LINKEDIN_CLIENT_ID = 
NEXT_PUBLIC_LINKEDIN_CLIENT_SECRET = 
NEXT_PUBLIC_FACEBOOK_CLIENT_ID = 
NEXT_PUBLIC_FACEBOOK_CLIENT_SECRET = 

DATABASE_URL=
SENDGRID_API_KEY=
NEXTAUTH_JWT_SECRET=
NEXTAUTH_SECRET=
