@tailwind base;
@tailwind components;
@import "./styles/FetchDataSpinner.css";
@import "./styles/Loader.css";
@tailwind utilities;

:root {
  --font_16: 1rem;
  --font_18: 1.125rem;
  --font_20: 1.25rem;
  --font_24: 1.5rem;
  --font_32: 2rem;
  --font_36: 2.25rem;
  --font_48: 3rem;
  --theme-color: #017eeb;
  --theme-light: #f2f9fe;
  --color_black: #212121;
  --navyBlue: #000d1e;
  --color_gray: #504f4f;
  --color-light-gray: #f1f1f1;
  --border-gray: #dedede;
  --section-bg: #fafafa;
  --white_color: #ffffff;
}

html {
  touch-action: manipulation;
  scroll-behavior: unset !important;
  scroll-padding-top: 95px;
  font-family: var(--global-font) !important;
}

body {
  overflow-x: hidden !important;
  background: var(--white_color);
  color: var(--color_black);
  background-repeat: repeat;
  background-size: contain;
  width: 100%;
  font-family: var(--global-font) !important;
  font-style: normal;
}

p {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

a,
a:focus,
a:hover {
  text-decoration: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.blog_content > h2:nth-child(1) {
  margin-top: 0px !important;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #8b8b8b;
}

::-webkit-scrollbar-thumb:hover {
  background: #8b8b8b;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 0px;
}

.font-Figtree {
  font-family: var(--global-font);
}
.main-section-padding {
  padding: 6rem 2.5rem;
}
.main-section-padding-top {
  padding: 6rem 2.5rem 3rem;
}
.main-section-padding-bottom {
  padding: 3rem 2.5rem 6rem;
}
.section- .font-style-solution-head {
  font-weight: 800;
  color: var(--white_color);
  line-height: inherit !important;
}

.font-style-solution-head.line-height-normal {
  line-height: normal !important;
}

.fade-image {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.rotate_right {
  -webkit-animation: rotationRight 10s infinite linear;
  animation: rotationRight 10s infinite linear;
}

@keyframes rotationRight {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
  }
}

@-webkit-keyframes rotationRight {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
  }
}

.rotate_img {
  position: absolute;
  top: -16%;
  right: 10%;
  z-index: -1;
  width: 150px;
}

.header {
  background-color: transparent !important;
  margin-top: 0;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  transition: all 0.6s ease;
  width: 100%;
}

.header_logo {
  width: 12%;
  margin: 0 0 auto;
}

.page-active {
  color: var(--theme-color) !important;
  font-weight: 600 !important;
}

.footer-link a:hover {
  color: var(--theme-color) !important;
}

.item-accordion {
  border-bottom: transparent;
  border: 1px solid var(--theme-color) !important;
  padding: 0 1.5rem !important;
  background-color: var(--white_color) !important;
  margin-top: 0 !important;
  border-radius: 20px !important;
  button[aria-expanded="false"] {
    border: 0 !important;
  }
}

.header_font a,
.header_font p {
  font-size: var(--font_16);
}

.menu_mob_flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu_txt1 {
  padding: 1.5rem 0 1.5rem 0;
  border-bottom: 1px solid var(--color_gray);
}

.menu_txt1 p {
  font-size: var(--font_36);
  color: var(--color_black);
}

.menu_txt1 p:hover {
  color: var(--theme-color);
  transition: all 0.4s ease-in-out;
}

.mega_menu_txt p {
  font-size: var(--font_16);
  font-family: var(--global-font) !important;
  color: var(--color_black);
  line-height: 2.5;
  @media only screen and (max-width: 1366px) and (min-width: 767px) {
    line-height: 1.75;
  }
}

.gradiant_aerrow {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.transition {
  transition: all 0.6s ease;
}

.aerrow {
  width: 45px;
  transition: all 0.6s ease-in-out;
  display: grid;
  place-content: center;
  cursor: pointer;
}

.video-slider video {
  width: 575px;
  height: 340px;
  background: #f7f7f7;
}

.accordion .accordion-item,
.accordion,
.accordion .card {
  border: 0 !important;
  background-color: transparent;
}

.accordion .accordion-button {
  background-color: transparent !important;
  box-shadow: none !important;
  border: 0 !important;
  color: var(--color_black) !important;
  padding: 2rem 0rem !important;
}

.accordion .accordion-item {
  border-bottom: 1px solid #80808038 !important;
}

.accordion .accordion-body > p {
  margin-bottom: 20px !important;
}

.accordion-item:last-of-type {
  border-radius: 0px;
}

.accordion .accordion-body {
  font-size: var(--font_24);
  font-family: var(--global-font);
  color: var(--color_black);
  width: fit-content;
  line-height: 2.5rem;
  padding: 1rem 0rem;
}

.blog-home {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32%, 1fr));
  gap: 20px;
}

.benefit-developer-effect {
  transition: all 0.6s ease-in-out;
}

.benefit-developer-effect:hover {
  transform: translateY(-9%);
  transition: all 0.6s ease-in-out;
}

.marquee {
  position: relative;
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
  background: #f0f3f3;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.faq-bottom .accordion-body {
  color: var(--color_black);
  font-size: 1.2rem;
  line-height: 2.5rem;
}

.faq-bottom .accordion-body a:hover {
  color: var(--theme-color) !important;
}

.faq-bottom .accordion-item {
  border-radius: 6px !important;
  border-width: 1px 1px 4px 1px;
  border-style: "solid";
  border-color: var(--theme-color) !important;
  padding: 2rem !important;
  margin-bottom: 20px !important;
}

.sec9_img1 {
  line-height: 0;
  aspect-ratio: 550/283;
}

.sec9_data_style {
  height: fit-content;
  background: transparent;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}

.sec9_data_style:hover {
  height: fit-content;
  background: #1cb9d5;
  background: linear-gradient(
    147deg,
    rgba(28, 185, 213, 1) 12%,
    rgba(67, 223, 219, 1) 32%,
    rgba(67, 223, 219, 1) 60%,
    rgba(0, 222, 175, 1) 84%
  );
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}

.sec9_data_style:hover .expert-developers-block {
  background: var(--theme-color);
  padding: 2rem 2rem;
  text-align: center;
  border-radius: 16px;
}

.hidden-xs {
  display: block;
}

.sec9_txt1 p {
  font-size: var(--font_32);
  color: var(--color_black);
}

.sec9_txt2 p {
  font-size: var(--font_16);
  color: var(--color_black) !important;
}

.blog_flex_30:hover .blog-hover {
  height: fit-content;
  background: var(--theme-color);
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}
.blog_flex_30:hover .blog-hover > div:first-child {
  border-bottom: 1px solid var(--white_color);
}

.blog_flex_30:hover img {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.kinderland .privacy-policy ol,
.kinderland .terms-of-use ol {
  margin-left: 1.5rem;
}

.kinderland .privacy-policy ol li,
.kinderland .terms-of-use ol li {
  list-style: decimal !important;
  font-weight: 600;
}

.kinderland p,
.kinderland a,
.kinderland span,
.kinderland h2 {
  font-family: var(--global-font) !important;
}

.kinderland p a {
  text-decoration: underline !important;
  word-break: break-word;
}

.kinderland p span a {
  text-decoration: unset !important;
}

.kinderland p span a:hover {
  text-decoration: unset !important;
  background-color: unset !important;
}

.kinderland p a:hover {
  text-decoration: underline !important;
  word-break: break-word;
  background-color: rgb(227, 227, 227);
}

/* scroll effect */
.reveal {
  position: relative;
  transform: translateY(100px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

@media only screen and (max-width: 1550px) {
  .content {
    font-size: 5rem;
  }

  .sec9_txt1 p {
    font-size: 1.5rem;
  }

  .mega_menu {
    width: 28% !important;
  }
}

@media only screen and (max-width: 1366px) {
  .content {
    font-size: 4rem;
  }

  .sec9_txt1 p {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 1280px) {
  .rotate_img {
    right: 0;
  }

  .video-slider video {
    width: 394px;
  }
}

@media only screen and (max-width: 1152px) {
  .menu_txt1 p {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 1024px) {
  .video-slider video {
    width: 304px;
  }

  .header_width {
    width: 90%;
  }

  .accordion .accordion-button {
    padding: 1.5rem 0rem !important;
  }

  .accordion {
    margin-bottom: 40px !important;
  }

  .sec9_txt1 p {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 991px) {
  .header_font a,
  .header_font p {
    font-size: 12px;
  }

  .header_logo img {
    max-width: 124px;
  }
}
@media only screen and (max-width: 1080px) {
  .main-section-padding {
    padding: 4rem 2rem;
  }
  .main-section-padding-top {
    padding: 4rem 2rem 2rem;
  }
  .main-section-padding-bottom {
    padding: 2rem 2rem 4rem;
  }
}

@media only screen and (max-width: 767px) {
  .main-section-padding {
    padding: 2rem 1.25rem;
  }
  .main-section-padding-top {
    padding: 2rem 1.25rem 1rem;
  }
  .main-section-padding-bottom {
    padding: 1rem 1.25rem 2rem;
  }

  .accordion .accordion-body {
    font-size: 18px;
    line-height: 2rem;
    padding: 0;
  }

  .header_logo {
    width: 45%;
  }

  .hidden-xs {
    display: none;
  }

  .content {
    font-size: 2rem;
  }

  .blog-home {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }

  .rotate_img {
    top: -4%;
    right: 5%;
    width: 27%;
    z-index: 0;
  }

  .sec9_txt1 p {
    font-size: 1rem;
  }
}

.we_are_hiring svg {
  height: auto;
}

.loader {
  --dim: 3rem;
  width: var(--dim);
  height: var(--dim);
  position: relative;
  animation: spin988 2s linear infinite;
}

.loader .circle {
  --color: var(--theme-color);
  --dim: 1.2rem;
  width: var(--dim);
  height: var(--dim);
  background-color: var(--color);
  border-radius: 0;
  position: absolute;
}

.loader .circle:nth-child(1) {
  top: 0;
  left: 0;
}

.loader .circle:nth-child(2) {
  top: 0;
  right: 0;
}

.loader .circle:nth-child(3) {
  bottom: 0;
  left: 0;
}

.loader .circle:nth-child(4) {
  bottom: 0;
  right: 0;
}

.tech-stack-working .absolute.inset-0.z-10.h-full.bg-white.rounded-md.shadow {
  background: transparent !important;
  border-radius: 30px;
}

@keyframes spin988 {
  0% {
    transform: scale(1) rotate(0);
  }

  20%,
  25% {
    transform: scale(1.3) rotate(90deg);
  }

  45%,
  50% {
    transform: scale(1) rotate(180deg);
  }

  70%,
  75% {
    transform: scale(1.3) rotate(270deg);
  }

  95%,
  100% {
    transform: scale(1) rotate(360deg);
  }
}
.blog_content > ul > li {
  white-space: unset !important;
}
.blog_content > ul {
  padding-inline-start: 20px !important;
}
