/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"); */
@tailwind base;
@tailwind components;
@import "./styles/FetchDataSpinner.css";
@import "./styles/Loader.css";
@tailwind utilities;

:root {
  /* --global-font: "Inter", sans-serif; */
  --font_14: 0.875rem;
  --font_16: 1rem;
  --font_18: 1.125rem;
  --font_20: 1.25rem;
  --font_21: 1.313rem;
  --font_24: 1.5rem;
  --font_28: 1.8rem;
  --font_32: 2rem;
  --font_36: 2.25rem;
  --font_40: 2.5rem;
  --font_44: 2.75rem;
  --font_48: 3rem;
  --font_56: 3.5rem;
  --font_74: 4.625rem;
  --font_80: 5rem;
  --font_84: 5.25rem;
  --font_96: 6rem;
  --font_120: 6.5rem;
  --theme-color: #0d9a9a; /* New color */
  --theme-light: #f3fdff; /* New color */
  --color_black: #000000;
  --color_primary: #00ddb9;
  --color_gray: #504f4f;
  --color-light-gray: #f1f1f1;
  --border-gray: #dedede;
  --section-bg: #f2f3f3;
  --footer-bg: #f2f5f7;
  --white_color: #ffffff;
  --main_color: #00dfb8;
  --main_menu_hover_color: #00b6cf;
  --stars_color: #fbd000;
  --line_height_1: 1;
  --line_height_1_2: 1.2;
  --comman-transition: all 0.6s ease;
  --global--spacing-horizontal: 25px;
  --global--spacing-vertical: 30px;
  --global--letter-spacing: normal;
}

html {

    touch-action: manipulation;

  scroll-behavior: smooth;
  scroll-padding-top: 90px;
  font-family: var(--global-font) !important;
  font-display: swap;
}

body {
  overflow-x: hidden !important;
  background: var(--white_color);
  text-color: var(--color_black);
  background-repeat: repeat;
  background-size: contain;
  width: 100%;
  font-family: var(--global-font) !important;
  font-display: swap;
  font-optical-sizing: auto;
  font-style: normal;
}

p {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

a,
a:focus,
a:hover {
  text-decoration: none !important;
  color: inherit !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.blog_content > h2:nth-child(1){
  margin-top: 0px !important;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: var(--color_black);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color_black);
}

.main-section-padding {
  padding: 6rem 0rem;
}
.section-padding {
  padding: 6rem 5%;
}
.font-style-solution-head {
  font-weight: 800;
  color: var(--white_color);
  line-height: inherit !important;
}

.font-style-solution-head.line-height-normal {
  line-height: normal !important;
}

.headstyle-other-page {
  font-size: 4rem;
  color: var(--color_black);
  line-height: var(--line_height_1);
}

.fade-image {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.rotate_right {
  -webkit-animation: rotationRight 10s infinite linear;
  animation: rotationRight 10s infinite linear;
}

@keyframes rotationRight {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
  }
}

@-webkit-keyframes rotationRight {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
  }
}

.rotate_img {
  position: absolute;
  top: -16%;
  right: 10%;
  z-index: -1;
  width: 150px;
}

.review_stars {
  color: var(--stars_color);
}

.style_sec3_swiper_home {
  width: 86%;
  margin: 0 auto;
  padding: 3rem 0 3rem;
  position: relative;
  z-index: 9;
}

.header {
  background-color: transparent !important;
  margin-top: 0;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  transition: all 0.6s ease;
  width: 100%;
}

.header_logo {
  width: 12%;
  margin: 0 0 auto;
}

.page-active {
  color: var(--theme-color) !important;
  font-weight: 700 !important;
}

.item-accordion {
  border-bottom: transparent;
  border: 1px solid var(--main_color) !important;
  padding: 0 1.5rem !important;
  background-color: var(--white_color) !important;
  margin-top: 0 !important;
  border-radius: 20px !important;
  button[aria-expanded="false"] {
    border: 0 !important;
  }
}

.header_font a,
.header_font p {
  font-size: var(--font_16);

  color: var(--color_black);
}

#description {
  width: 100%;
  border-radius: 0;
}

.menu_mob_flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mega_menu_icon {
  display: block;
  width: 60px;
}

.menu_txt1 {
  padding: 1.5rem 0 1.5rem 0;
  border-bottom: 1px solid var(--color_gray);
}

.menu_txt1 p {
  font-size: var(--font_36);
  color: var(--color_black);
}

.menu_txt1 p:hover {
  color: var(--theme-color);
  transition: all 0.4s ease-in-out;
}

.hover_content_box {
  border: 1px solid #80808075;
  padding: 2rem 2rem 1rem;
  border-radius: 40px;
  opacity: 0;
  height: 260px !important;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}

.hover_class:hover .hover_content_box {
  opacity: 1;
  visibility: visible;
}

.join_content p {
  font-size: 1.2rem;
  color: var(--color_black);
}

.flex_mega_menu {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.flex_mega_menu img {
  width: 50px;
}

.mega_menu_txt p {
  font-size: var(--font_16);
  font-family: var(--global-font) !important;
  font-display: swap;
  color: var(--color_black);
  line-height: 2.5;
}

.sec1_txt_position {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 8.5%;
}

.home_txt1 p,
.home_txt1 h1 {
  font-size: var(--font_84);
  font-weight: 300;
}

.home_txt3 h1 {
  font-size: var(--font_24);
}

.home_sec2_txt1 p,
.home_sec2_txt1 h1 {
  line-height: var(--line_height_1);
}

.home_sec2_txt3 p {
  color: var(--color_black);
  line-height: var(--line_height_1);
}

.gradiant_aerrow {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.transition {
  transition: all 0.6s ease;
}

.about_btn:hover .gradiant_aerrow {
  opacity: 1;
}

.about_btn:hover .aerrow {
  transform: translateX(25%);
}

.aerrow {
  width: 45px;
  transition: all 0.6s ease-in-out;
  display: grid;
  place-content: center;
  cursor: pointer;
}

.about_btn:hover .about_txt,
.about_btn:hover .about_txt a:hover,
.about_btn:hover .about_txt .change_link:hover,
.about_btn:hover .about_txt_domain,
.about_btn:hover .about_txt_domain a:hover {
  background: linear-gradient(
    to right,
    var(--theme-color) 44%,
    var(--theme-color) 51%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.solutions_img img {
  border-radius: 30px;
  width: 92%;
  margin: 0 0 auto;
}

.video-slider video {
  width: 442px;
  height: 442px;
  background: var(--color_black);
}

.accordion .accordion-item,
.accordion,
.accordion .card {
  border: 0 !important;
  background-color: transparent;
}

.accordion .accordion-button {
  background-color: transparent !important;
  box-shadow: none !important;
  border: 0 !important;

  color: var(--color_black) !important;
  padding: 2rem 0rem !important;
}

.accordion .accordion-item {
  border-bottom: 1px solid #80808038 !important;
}

.accordion .accordion-body > p {
  margin-bottom: 20px !important;
}

.the-result .service_description p {
  font-size: var(--font_21) !important;
}

.contact_btn.btn-margin-top-0 {
  margin-top: 0 !important;
}

.tech-tags .idea_title.work_sec2_txt4 p {
  font-size: 16px !important;
}

.accordion-item:last-of-type {
  border-radius: 0px;
}

.accordion .accordion-body {
  font-size: var(--font_24);
  font-family: var(--global-font);
  font-display: swap;
  color: var(--color_black);
  padding-bottom: 1rem;
  width: fit-content;
  line-height: 2.5rem;
  padding: 1rem 0rem;
}

.sec6_title p,
.sec6_title h2 {
  font-size: var(--font_48);
  color: var(--color_black);
}

.blog-home {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32%, 1fr));
  gap: 20px;
}

.blog-box {
  border: 1px solid #80808038;
  border-radius: 20px;
}

.blog-box h4 {
  text-align: center !important;
  padding: 1rem 0;
}

.home_sec3_box {
  border-radius: 30px;
  border: 1px solid var(--main_color);
  position: relative;
  z-index: 9;
}

.sec10_width .dots_flex {
  padding: 1.8rem 0;
}

.dots_flex {
  display: flex;
  align-items: center;
  width: 86%;
  margin: 0 auto;
  gap: 1rem;
  padding: 1.2rem 0;
  background: #fff;
}

.video-slider .dots_flex {
  width: 100%;
}

.dots {
  height: 8px;
  width: 8px;
  background-color: grey;
  border-radius: 15px;
}

.background {
  background: var(--theme-color);
  border-radius: 0 0 30px 30px;
}

.react-technology .background-hover:hover {
  background: var(--theme-color);
  border-radius: 0 0 28px 28px;
}
.react-technology .background-hover:hover p {
  color: var(--white_color) !important;
}

.pricing_grid {
  display: grid;
  grid-template-areas: "one two three";
  grid-template-columns: repeat(3, 1fr);
  gap: 0rem;
}

.pricing_grid .one:hover {
  background: var(--theme-color);
  border-radius: 0 0 0 28px;
}
.pricing_grid .one:hover p,
.pricing_grid .two:hover p,
.pricing_grid .three:hover p {
  color: var(--white_color);
}

.pricing_grid .two:hover {
  background: var(--theme-color);
}

.pricing_grid .three:hover {
  background: var(--theme-color);
  border-radius: 0 0 28px 0;
}

.pricing-amount {
  font-weight: 700 !important;
  text-align: center;
  font-size: var(--font_32);
}

.pricing-desc-text {
  font-size: var(--font_21);

  color: var(--color_black);
  text-align: left;
}

.pricing-desc p img {
  width: 22px;
  margin-top: 5px;
  max-width: unset !important;
}

.benefit-developer-effect {
  transition: all 0.6s ease-in-out;
}

.benefit-developer-effect:hover {
  transform: translateY(-9%);
  transition: all 0.6s ease-in-out;
  color: var(--theme-color);
}

.style_sec10_swiper_home {
  width: 90%;
  margin: 0 auto;
  padding: 3rem 0;
}
.style_sec10_swiper_home p {
  color: var(--white_color);
}

.sec10_flex_row {
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: 3rem;
}

.sec10_basis_50 {
  flex-basis: 50%;
}

.about_vision .sec10_txt1,
.sec10_basis_50 .sec10_txt1 {
  font-size: var(--font_32);
}

.sec10_txt1 {
  font-size: var(--font_24);
  color: var(--color_black);
}

input.form-control-txt,
textarea.form-control-txt {
  padding: 0rem 2rem 0.5rem 0;
  margin-top: 2rem;
  background: 0 0;
  border: none;
  outline: none;
  color: var(--color_black);
  border-bottom: 1px solid var(--color_black);
  border-radius: 0;
  font-size: 1rem;
  width: 90%;
}

.btn_paddinng {
  padding-top: 4rem;
}

.form-group,
.form-group-home {
  position: relative;
}
.form-group-home label,
.form-group-home input {
  color: var(--white_color);
}

.form-group-home input.form-control-txt,
.form-group-home textarea.form-control-txt {
  padding: 0rem 2rem 0.5rem 0;
  margin-top: 2rem;
  background: 0 0;
  border: none;
  outline: none;
  color: var(--white_color);
  border-bottom: 1px solid var(--white_color);
  border-radius: 0;
  font-size: 1rem;
  width: 90%;
}

.label_name {
  color: var(--color_black);
  position: absolute;
  left: 0;
  top: 20%;
  font-size: 1rem;
}

.home_ready_sec {
  padding: 12px 30px;
  background: #f0f0f0 !important;
  border-radius: 27px;
  border: 1px solid #f0f0f0;
  width: fit-content;
}

.home_ready_sec:hover {
  background: linear-gradient(
    90deg,
    rgba(0, 196, 200, 1) 34%,
    rgba(0, 221, 185, 1) 56%
  ) !important;
  border: 1px solid #00dfb8;
}

.wpcf7-form div[type="submit"],
.wpcf7-form div[type="submit"] * {
  cursor: pointer;
}

.home_btn {
  background: 0 0 !important;
  border-radius: 27px;

  border: 1px solid transparent;
  font-size: 18px;
}

.form_grid {
  display: grid;
  grid-template-areas:
    "one two"
    "three four";
  grid-template-columns: repeat(2, 1fr);
  padding-top: 2rem;
  column-gap: 5rem;
  row-gap: 2rem;
}

.form_grid > div:nth-child(1) {
  grid-area: one;
}

.number {
  font-size: 100px;
  font-weight: 700;
  color: var(--white_color) !important;
}

.number_home {
  font-size: 65px;
  font-weight: 600;
  color: var(--color_black);
}

.year {
  font-size: var(--font_20);
  color: var(--white_color);
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--white_color);
}

.year p {
  width: 70%;
}

.footer_logo img {
  max-width: 236px;
}

.marquee {
  position: relative;
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
  background: #f0f3f3;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.track {
  white-space: nowrap;
  width: 100%;
  will-change: transform;
  animation: marquee 9s linear infinite;
}

.content {
  font-size: var(--font_120);
  color: var(--color_black);
}

.gradiant {
  background: var(--theme-color);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.bg_black {
  margin: 0;
  padding: 0;
}

.bg_black a {
  cursor: pointer !important;
}

.footer_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0%, 1fr));
  gap: 5rem;
  align-items: start;
}

.social_media {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer_link li {
  font-size: var(--font_16);
  color: var(--color_black);
  padding-bottom: 1.5rem;
}

.footer_link li .page-active {
  font-weight: 700 !important;
}

.footer_link li a:hover {
  color: var(--theme-color) !important;
}

.header_sec1_txt2 p {
  font-size: var(--font_16);
  color: var(--color_black);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5 0;
  border: 1px solid var(--theme-color);
  padding: 10px 14px;
  width: fit-content;
  background: var(--theme-color);
}

.header_sec1_txt2 p:hover {
  border: 1px solid var(--theme-color);
  background: transparent;
}

.footer_btn .header_sec1_txt2 p:hover {
  color: var(--white_color);
}

.footer_last_width {
  width: 95%;
  margin: 0 auto;
  border-top: 1px solid #80808038;
  padding: 2rem 0;
}

.sec9_service_style .number {
  font-size: 34px;
}

.sec9_service_style {
  background: var(--theme-color);
  border-radius: 30px;
  padding: 1rem 0 3rem;
}

.sec9_service_style .p-font {
  color: var(--white_color);
  font-size: var(--font_20);
}

.sec9_service_style .number {
  border-bottom: 2px solid var(--white_color);
}

.solution_gradiant {
  background: #eefdfa;
  background: linear-gradient(
    180deg,
    rgba(238, 253, 250, 1) 3%,
    rgba(244, 249, 242, 1) 49%,
    rgba(253, 246, 227, 1) 88%
  );
}

.solution_gradiant .contact-p h3 {
  font-size: var(--font_21);
  font-weight: 700;
  color: var(--color_black);
}

.solution_gradiant .service_description p {
  font-size: var(--font_21);

  color: var(--color_black);
  padding-top: 1.5rem;
}

.faq-bottom .accordion-button {
  font-size: var(--font_21);
  font-weight: 700 !important;
  padding: 1.2rem 2rem;
  color: var(--color_black) !important;
  padding: 10px 0 !important;
  border: 0 !important;
}

.faq-bottom .accordion-body {
  color: var(--color_black);
  font-size: 1.2rem;
  line-height: 2.5rem;
}

.faq-bottom .accordion-body a:hover {
  color: var(--theme-color) !important;
}

.faq-bottom .accordion-item {
  border-radius: 20px !important;
  border: 1px solid #00dfb8 !important;
  padding: 2rem !important;
  margin-bottom: 20px !important;
}

.linear-gradient-bg .number {
  font-weight: 700;
  color: var(--color_black);
}

.service_description p {
  font-size: var(--font_16) !important;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  min-height: 161px;
}

.home_sec3_box1 .style_sec3_swiper_home p {
  font-size: var(--font_20);
}

.contact_bold-head {
  font-weight: 800 !important;
  line-height: var(--line_height_1_2) !important;
  padding: 2rem 0 !important;
  font-size: var(--font_40) !important;
}

.noText {
  padding: 3rem 0 2rem;
}

.noText li {
  position: relative;

  font-size: var(--font_24);
  margin-left: 2rem;
  list-style: none;
  padding-bottom: 0.5rem;
}

.noText li::before {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cg clip-path='url(%23clip0_30_12)'%3E%3Ccircle cx='10' cy='10' r='10' fill='%230d9a9a'/%3E%3Cpath d='M8.08102 13.9311C8.18816 14.0217 8.34951 14.0235 8.45897 13.9333C10.8471 11.9585 13.024 9.88733 15.6214 7.7973C15.8456 7.61698 15.9792 7.36482 15.9978 7.08682C16.0551 6.22275 14.9755 5.65693 14.2418 6.23531C12.0196 7.98443 10.1719 9.57103 8.44857 11.2108C8.1099 10.8884 7.65676 10.4271 7.09779 9.83522C6.66554 9.3777 5.88549 9.2986 5.36077 9.79257C4.89989 10.2261 4.8779 10.9221 5.31028 11.3773C6.35388 12.4751 7.00913 13.0229 8.08102 13.9311Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_30_12'%3E%3Crect width='20' height='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: cover;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 10px;
  left: -30px;
}

.contact_btn {
  margin: 2rem auto 0 0 !important;
  transition: all 0.5s ease-in-out;
}

.contact_btn_technology {
  transition: all 0.5s ease-in-out;
  margin: 0 auto 0 0 !important;
}

.contact_btn_solution {
  transition: all 0.5s ease-in-out;
}

.contact_form .btn_paddinng {
  padding-top: 1rem;
}

.contact_btn {
  margin-left: 0;
  margin-top: 3rem;
}

.btn_flex {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 14px 30px;
  background: rgb(0, 196, 200);
  background: linear-gradient(
    90deg,
    rgba(0, 196, 200, 1) 34%,
    rgba(0, 221, 185, 1) 56%
  );
  border-radius: 33px;
  border: 1px solid #00dfb8;
  margin: 0 auto;
  gap: 1rem;
}

.send_btn {
  border: 1px solid transparent;
  background: transparent;
  padding: 0;
  margin: 0;
  font-size: 21px;
  color: var(--color_black);
}

.contact_form.inquiry .contact_btn {
  border-radius: 0px !important;
}

.btn_flex:hover {
  background: transparent;
}

.wpcf7-form-control-wrap {
  position: relative;
}

.ready_content_list .p-style {
  font-size: var(--font_20);
}

.ready_content_list {
  padding: 1rem 0;
}

.ready_content_list p {
  color: var(--white_color) !important;
  line-height: var(--line_height_1_2);
}

.service_sec3 p {
  padding: 2.5rem 0;
  line-height: var(--line_height_1_2);
}

.sec9_img1 {
  line-height: 0;
  aspect-ratio: 550/283;
}

.sec9_data_style {
  height: fit-content;
  background: transparent;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

.sec9_data_style:hover {
  height: fit-content;
  background: #1cb9d5;
  background: linear-gradient(
    147deg,
    rgba(28, 185, 213, 1) 12%,
    rgba(67, 223, 219, 1) 32%,
    rgba(67, 223, 219, 1) 60%,
    rgba(0, 222, 175, 1) 84%
  );
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

.sec9_data_style:hover .expert-developers-block {
  background: var(--theme-color);
  padding: 2rem 2rem;
  text-align: center;
  border-radius: 33px;
}

.contact_box img {
  width: 65px;
  margin: 0 auto;
  padding: 3rem 0 2rem;
}

.steps_service {
  display: flex;
  align-items: center;
}

.no_flex,
.no_flex_tech {
  position: relative;
  padding: 1.5rem;
  width: 100%;
}

.no_flex::before {
  content: "";
  background-image: url(/images/icons2-11.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 10%;
  height: 100%;
  position: absolute;
  top: 12px;
  left: -5%;
}

.no_flex_tech::before {
  content: "";
  background-image: url(/images/icons2-11.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 10%;
  height: 100%;
  position: absolute;
  top: 12px;
  left: 0%;
}

.no_flex_height {
  height: 170px;
}

.no_flex::after {
  content: "";
  background-image: url(/images/icons2-12.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 10%;
  height: 100%;
  position: absolute;
  top: 12px;
  right: -8%;
}

.no_flex_tech::after {
  content: "";
  background-image: url(/images/icons2-12.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 10%;
  height: 100%;
  position: absolute;
  top: 12px;
  right: -5%;
}

.developer_sec6_title p,
.developer_sec6_title h3 {
  font-size: var(--font_21) !important;
  font-weight: 700 !important;
  color: var(--color_black) !important;
}

.service_width {
  width: 85%;
  margin: 0 auto !important;
}

.sec7_service_grid {
  gap: 3.5rem;
}

.contact_sec3 {
  padding: 12rem 0 10rem;
}

.home_sec2_txt3 p,
.blog .home_sec2_txt3 h1 {
  font-size: var(--font_48);
}

.contact_details {
  z-index: 2;
}

.contact_details {
  padding: 7rem 4rem;
  border-radius: 40px;
  width: 80%;
  margin: 3rem auto 0;
}

.contact_text_call p {
  font-weight: 500;
  color: var(--white_color);
  font-size: 4rem;
}

.contact_icon {
  width: 6%;
}

.logowhite {
  position: absolute;
  top: 44%;
  right: 8%;
  transform: translate(-50%, -50%);
  width: 10%;
  opacity: 0.7;
  z-index: -1;
}

.contact_iconText_flex {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  padding: 0 0 2rem;
}

.bg_grey {
  background-color: #f2f5f9;
  padding: 4rem;
  border-radius: 15px;
}

.like_flex {
  display: flex;
  align-items: flex-start;
  gap: 3rem;
}

.like_basis {
  flex-basis: 40%;
}

.like_basis_form {
  flex-basis: 60%;
}

.like_text p {
  font-weight: 800 !important;
  line-height: var(--line_height_1_2);
}

.sec3_width_home {
  width: 70%;
  margin: 0 auto;
}

.hidden-xs {
  display: block;
}

.visible-xs {
  display: none;
}

.banner_padding {
  padding-top: 8rem;
}

.portfolio .sec1_service img {
  border-radius: 30px;
}

.sec1_service p img {
  height: 46vh;
  border-radius: 20px;
}

.portfolio .sec6_title {
  padding: 10rem 0 1rem;
}

.portfolio .sec6_title p,
.blog .home_sec2_txt3 h1,
.service_sec3 .home_sec2_txt3 .extra_bold {
  font-weight: 800;
}

.portfolio .head-title {
  font-size: var(--font_48);
  font-weight: 800;
  color: var(--color_black);
}

.portfolio_sec1_txt2 p {
  font-size: var(--font_24);
}

.fintech-portfolio-sec {
  font-size: 1.8rem;
}

.portflio_flex_row {
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: 0;
  padding: 5rem 0;
}

.portfolio_sec1_txt1 p {
  font-size: 50px;
  font-weight: 600;

  color: var(--color_black);
  padding-bottom: 2rem;
}

.portfolio_description_width {
  width: 95%;
  padding-bottom: 3rem;
}

.portfolio_color_style {
  width: 90%;
  margin: 0 0 0 auto;
}

.porfolio_sec1_img img {
  border-radius: 20px;
}

.portfolio_sec .portfolio_color_style {
  margin: 0 0 auto;
}

.endTO_text {
  margin: 0 auto 3rem;
  text-align: center;
}

.jira_icon_flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5rem;
  justify-content: center;
  padding: 3rem 0 3rem;
  transition: all 0.6s ease-in-out;
}

.icon_logo {
  transition: all 0.6s ease-in-out;
}

.icon_logo {
  transition: all 0.6s ease-in-out;
}

.icon_logo:hover {
  transform: translateY(-7%);
}

.jira_icon_img {
  width: fit-content;
  margin: 0 auto;
}

.jira_textTitle p {
  border-bottom: 1px solid transparent !important;
  text-align: center;
  padding-top: 2rem;
}

.service_title p,
.service_title h3 {
  font-size: var(--font_24);
  font-weight: 700;
  color: var(--color_black) !important;
  border-bottom: 1px solid #8080808f;
  padding-bottom: 0.3rem !important;
}

.ready_img {
  margin: 0 auto;
  transition: all 0.6s ease-in-out;
}

.redy_title {
  position: absolute;
  top: 30%;
  left: 35%;
  width: 55%;
  transform: translate(-50%, -50%);
}

.get_touch {
  position: absolute;
  bottom: 20%;
  left: 12%;
  transform: translate(-50%, -50%);
}

.get_flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.get_text p {
  font-size: var(--font_16);
  color: var(--color_black);
}

.porfolio_inner p {
  font-size: var(--font_24);

  text-align: center;
  color: var(--color_black);
  line-height: var(--line_height_1_2);
  width: 73%;
  margin: 0 auto;
}
.identifying-understanding {
  border-bottom: 1px solid var(--theme-color);
  padding-bottom: 6rem;
}
.identifying-understanding .service_title p {
  font-weight: 700;
}

.workpadd_borderTop {
  border-top: 1px solid var(--theme-color);
}

.home_sec2_txt4 p {
  font-size: var(--font_24);
  text-align: center;
  color: var(--color_black);
  line-height: var(--line_height_1_2);
}

.home_sec2_txt1 p,
.home_sec2_txt1 h1 {
  font-size: var(--font_74);
  line-height: var(--line_height_1);
}

.home_sec2_txt1 h2 {
  font-size: var(--font_44);
  line-height: 66px;
  font-weight: 300;
}

.abc {
  color: var(--color_black);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--color_black);
}

.home_sec2_txt3 p {
  width: 74%;
  margin: 0 auto;
  padding: 2rem 0;
}

.about_vision {
  border: 1px solid #fff;
  padding: 7rem 6rem;
  border-radius: 30px;
}

.about_sec2_img1 {
  position: absolute;
  right: 3%;
  top: 12%;
  width: 48%;
}

.about_sec2 .sec10_txt1 {
  width: 32%;
}

.about_vision .sec10_txt1,
.sec10_basis_50 .sec10_txt1 {
  font-size: var(--font_32);
}

.about_sec2_img1 img {
  border-radius: 25px;
}

.career .home_sec2_txt3 p {
  line-height: var(--line_height_1_2);
  font-size: 2rem;
  width: 78%;
}

.about_sec2_grid .number {
  font-size: 100px;
  color: var(--color_black);
}

.sign_data {
  color: var(--theme-color);
  font-size: 70px;
}

.year p {
  width: 70%;
}

.about_sec2_grid .number {
  font-size: 100px;
  color: var(--color_black);
}

.about_sec2_grid .year {
  font-size: var(--font_32);

  color: var(--color_black);
  padding-top: 1rem;
  border-top: 2px solid #000;
  border-bottom: none;
}

.about_sec4_3 {
  transition: all ease-in-out 0.1s;
  width: 100%;
}

.about_box_style {
  border: 1px solid #80808075;
  padding: 4rem 3rem 2rem;
  border-radius: 40px;
}

.about_sec4 .height_about h3 {
  height: 220px;
  line-height: 1.1;
}

.sec4_about p,
.sec4_about h3 {
  transition: all ease-in-out 0.5s;
  font-size: 3.75rem;
  color: var(--color_black);
}

.sec6_career_flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about_sec4_txt4 {
  display: flex;
  align-items: self-end;
}

.about_sec4 .sec6_career_img1 {
  width: 160px;
}

.about_sec4_row:hover .about_sec4_70 {
  opacity: 1;
  visibility: visible;
}

.about_sec4_70 {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0%;
  z-index: 999;
  width: 100%;
  height: 100%;
  display: flex;
}

.about_sec4_70 {
  bottom: auto;
  top: 0;
}

.about_bg {
  height: auto;
  background: var(--theme-color);
}
.bril-belief {
  height: auto;
  background: var(--section-bg);
}

.about_sec4 .sec10_txt1 p {
  width: fit-content;
}

.sec10_txt1 {
  font-size: var(--font_24);
  color: var(--color_black);
}

.about_se4_flex {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2.1rem;
}

.about_btn_style .sec9_txt1 {
  border-bottom: 0 solid #80808038;
  padding: 10px 40px;
  width: fit-content;
  border-radius: 40px;
}

.sec9_txt1 p {
  font-size: var(--font_32);
  color: var(--color_black);
}

.sec7_box_style {
  padding: 6rem 1rem;
  border-radius: 30px;
  margin: 0 auto;
  background: var(--theme-color);
}

.sec7_box_style .home_sec2_txt2 p {
  font-size: var(--font_96);
}

.about_sec1_btn {
  width: 58px;
  padding: 2rem 0;
}

.home_txt3 p {
  font-size: var(--font_32);
  color: var(--color_black);
}

.how-we p {
  font-weight: 800;
  color: var(--white_color);
}

.service_sec1_position {
  position: absolute;
  bottom: 7%;
  width: 100%;
}

.how-we .imgebreakets {
  width: 6%;
}

.down_arrow {
  width: 10%;
  margin: 1rem auto 0;
  transition: all 0.6s ease-in-out;
}

.ourProcess_text_arrow {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
}

.our_text p {
  color: var(--white_color);
  margin: 0 auto;
  text-align: center;
  line-height: 1.4;
}

.our_img_text_sec:hover .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.6s ease;
  opacity: 1;
  display: block;
  background: rgb(0 0 0/23%);
  z-index: 0;
  border-radius: 20px;
}

.our_img_text_sec:hover .down_arrow {
  transform: translateY(22%);
}

.ideaBg_class {
  border-radius: 20px;
  padding: 0.5rem 1rem;
  width: fit-content;
}

.idea_title p {
  padding: 0;
}

.work_sec2_txt4 p {
  font-size: var(--font_21);
  color: var(--color_black);
  line-height: var(--line_height_1);
}

.number_icon_img {
  width: 34px;
}

.end-to-end .accordion .accordion-button {
  padding: 1.5rem 0rem !important;
}

.end-to-end .team_img img {
  border-radius: 30px;
}

.sec9_txt2 p {
  font-size: var(--font_16);
  color: var(--color_black) !important;
}

.blog_flex_30:hover .blog-hover {
  height: fit-content;
  background: var(--theme-color);
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}
.blog_flex_30:hover .blog-hover > div:first-child {
  border-bottom: 1px solid var(--white_color);
}

.blog_flex_30:hover img {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.get_in_touch {
  border: 1px solid grey;
  padding: 2rem;
  height: fit-content;
}

.get_in_touch .gradiant {
  line-height: var(--line_height_1_2);
  font-size: var(--font_48);
  width: 100%;
}

.service_sec3 .home_sec2_txt3 h1 {
  font-weight: 700;
  font-size: var(--font_48);
  color: var(--color_black);
  line-height: var(--line_height_1_2);
}

.kinderland .privacy-policy ol,
.kinderland .terms-of-use ol {
  margin-left: 1.5rem;
}

.kinderland .privacy-policy ol li,
.kinderland .terms-of-use ol li {
  list-style: decimal !important;
  font-weight: 600;
}

.kinderland p,
.kinderland a,
.kinderland span,
.kinderland h2 {
  font-family: var(--global-font) !important;
  font-display: swap;
}

.kinderland p a {
  text-decoration: underline !important;
  word-break: break-word;
}

.kinderland p span a {
  text-decoration: unset !important;
}

.kinderland p span a:hover {
  text-decoration: unset !important;
  background-color: unset !important;
}

.kinderland p a:hover {
  text-decoration: underline !important;
  word-break: break-word;
  background-color: rgb(227, 227, 227);
}

/* scroll effect */
.reveal {
  position: relative;
  transform: translateY(100px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.solutions h2 {
  font-weight: 800;
  font-size: var(--font_48);
  color: var(--color_black);
  line-height: var(--line_height_1_2);
}

.header-title {
  font-size: 70px !important;
  line-height: 84px !important;
}

.why-card:hover {
  background-image: url(/images/why-choose-hover-bg.svg) !important;
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat !important;
}
.why-card:hover h4 {
  color: var(--white_color);
}
.why-card:hover .desc {
  color: #dbe0fb;
}

.footer-award img {
  opacity: 1;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.footer-award img:hover {
  opacity: 1;
  transition: all 0.3s ease-in-out 0s;
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.footer-contact:hover {
  background: var(--theme-color);
  transition: var(--comman-transition);
}
.footer-contact p {
  color: var(--color_black);
}
.footer-contact:hover p {
  color: var(--white_color);
}
.footer-contact span {
  color: var(--theme-color);
}
.footer-contact:hover span {
  color: var(--color_black);
}

@media only screen and (max-width: 1680px) {
  .home_txt1 p,
  .home_txt1 h1,
  .home_sec2_txt1 p,
  .home_sec2_txt1 h1,
  .sec7_box_style .home_sec2_txt2 p {
    font-size: var(--font_74);
  }

  .banner_padding {
    padding-top: 7rem;
  }

  .sec7_service_grid {
    gap: 2.5rem;
  }

  .contact_text_call p {
    font-size: 3.2rem;
  }

  .contact_icon {
    width: 8%;
  }

  .service_title p,
  .service_title h3 {
    font-size: 1.3rem;
  }

  .no_flex::after {
    width: 14%;
  }

  .no_flex::before {
    width: 14%;
  }

  .about_sec2_img1 img {
    width: 100%;
  }

  .about_sec2_img1 {
    right: 3%;
    top: 13%;
    width: 60%;
  }
}

@media only screen and (max-width: 1550px) {
  .content {
    font-size: 5rem;
  }

  .footer_grid {
    gap: 3rem;
  }

  .developer_sec6_title p,
  .developer_sec6_title h3 {
    font-size: 1.3rem;
  }

  .home_sec2_txt3 p,
  .solutions h2,
  .blog .home_sec2_txt3 h1 {
    font-size: 2.6rem;
  }

  .style_sec3_swiper_home {
    padding: 1.5rem 0 !important;
  }

  .sec6_title p,
  .sec6_title h2,
  .portfolio .head-title {
    font-size: 2.5rem;
  }

  .ready_sec {
    padding: 6rem 0;
  }

  .portfolio_sec1_txt1 p {
    font-size: 46px;
  }

  .service_title p,
  .service_title h3 {
    font-size: 1.3rem;
  }

  .home_sec2_txt4 p {
    font-size: 1rem;
  }

  .about_sec2_img1 {
    top: 13%;
  }

  .home_sec2_txt1 p,
  .home_sec2_txt1 h1,
  .sec7_box_style .home_sec2_txt2 {
    font-size: 4rem;
  }

  .home_sec2_txt1 h2 {
    font-size: var(--font_36);
  }

  .sec4_about p,
  .sec4_about h3 {
    font-size: 3.5rem;
  }

  .sec4_about p,
  .sec4_about h3 {
    font-size: 3.5rem;
  }

  .sec9_txt1 p {
    font-size: 1.5rem;
  }

  .mega_menu {
    width: 28% !important;
  }
}

@media only screen and (max-width: 1440px) {
  .home_txt1 p,
  .home_txt1 h1 {
    font-size: 4rem;
  }

  .sec10_flex_row {
    gap: 2.5rem;
  }

  .number {
    font-size: 65px;
  }

  .year {
    font-size: 1.3rem;
  }

  .year p {
    width: 80%;
  }

  input.form-control-txt,
  textarea.form-control-txt {
    padding: 1rem 2rem 0.5rem 0 !important;
  }

  .about_vision .sec10_txt1,
  .sec10_basis_50 .sec10_txt1 {
    font-size: 1.4rem;
  }

  .style_sec3_swiper_home {
    padding: 1rem 0 !important;
  }

  .sec10_flex_row {
    gap: 2rem;
  }

  .developer_sec6_title p,
  .developer_sec6_title h3 {
    font-size: 1.2rem;
  }

  .home_sec2_txt3 p,
  .solutions h2,
  .blog .home_sec2_txt3 h1 {
    font-size: 2.2rem;
  }

  .sec6_title p,
  .sec6_title h2,
  .portfolio .head-title {
    font-size: 2rem;
  }

  .portfolio .sec6_title {
    padding: 7rem 0 1rem;
  }

  .portfolio_sec1_txt2 p {
    font-size: 1.3rem;
  }

  .portfolio_sec1_txt1 p {
    font-size: 42px;
  }

  .service_title p,
  .service_title h3 {
    font-size: 1.4rem;
  }

  .about_vision {
    padding: 9rem 5rem;
  }

  .about_sec2_grid .number {
    font-size: 80px;
  }

  .year p {
    width: 76%;
  }

  .sec4_about p,
  .sec4_about h3 {
    font-size: 3rem;
  }

  .sec4_about p,
  .sec4_about h3 {
    font-size: 3rem;
  }

  .about_sec4_txt4 .sec10_txt1 p {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 1366px) {
  .no_flex_tech::after {
    width: 11%;
    right: 0%;
  }

  .no_flex_tech::before {
    width: 11%;
    left: 0%;
  }

  .year {
    font-size: 1.1rem;
  }

  .about_vision .sec10_txt1,
  .sec10_basis_50 .sec10_txt1 {
    font-size: 1.3rem;
  }

  .form_grid {
    column-gap: 2rem;
    row-gap: 2rem;
  }

  .number {
    font-size: 58px;
  }

  .year {
    font-size: 1rem;
  }

  .year p {
    width: 90%;
  }

  .content {
    font-size: 4rem;
  }

  .developer_sec6_title p,
  .developer_sec6_title h3 {
    font-size: 1.1rem;
  }

  .home_sec2_txt3 p,
  .solutions h2,
  .blog .home_sec2_txt3 h1 {
    font-size: 2.5rem;
    line-height: 1.2;
  }

  .sec1_service p img {
    height: 50vh;
  }

  .sec6_title p,
  .sec6_title h2,
  .portfolio .head-title {
    font-size: 1.8rem;
  }

  .portfolio_sec1_txt2 p {
    font-size: 1.2rem;
  }

  .portfolio_sec1_txt1 p {
    font-size: var(--font_32);
  }

  .about_vision {
    padding: 7rem 4rem;
  }

  .sec4_about p,
  .sec4_about h3 {
    font-size: 2.75rem;
  }

  .about_sec4 .height_about h3 {
    height: 140px;
  }

  .about_sec4 .sec6_career_img1 {
    width: 110px;
  }

  .sec4_about p,
  .sec4_about h3 {
    font-size: 2.75rem;
  }

  .about_sec4_txt4 .sec10_txt1 p {
    font-size: 1.1rem;
  }

  .about_box_style {
    padding: 4rem 3rem 5rem;
  }

  .sec9_txt1 p {
    font-size: 1.3rem;
  }

  .home_txt3 p {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 1280px) {
  .rotate_img {
    right: 0;
  }

  .video-slider video {
    width: 394px;
  }

  .contact_text_call p {
    font-size: 3rem;
  }

  .jira_icon_flex {
    gap: 4rem;
  }

  .service_title p,
  .service_title h3 {
    font-size: 1.1rem;
  }

  .home_sec2_txt1 p,
  .home_sec2_txt1 h1,
  .sec7_box_style .home_sec2_txt2 p {
    font-size: 3.5rem;
  }

  .sec4_about p,
  .sec4_about h3 {
    font-size: 2.1rem !important;
  }

  .sec4_about p,
  .sec4_about h3 {
    font-size: 2.1rem !important;
  }

  .about_sec4 .sec10_txt1 p {
    width: 100%;
    font-size: 1.1rem !important;
  }

  .flex_mega_menu img {
    width: 40px;
  }
}

@media only screen and (min-width: 1280px) {
  .our-engagement-models .no_flex::after,
  .our-engagement-models .no_flex_tech::after {
    right: -4%;
  }

  .our-engagement-models .no_flex::before,
  .our-engagement-models .no_flex_tech::before {
    left: -4%;
  }
}

@media only screen and (max-width: 1279px) {
  .our-engagement-models .no_flex::after,
  .our-engagement-models .no_flex_tech::after {
    background-position: right;
    right: -10px !important;
    background-size: auto !important;
    top: -12px !important;
  }

  .our-engagement-models .no_flex::before,
  .our-engagement-models .no_flex_tech::before {
    background-position: left;
    left: -10px !important;
    background-size: auto !important;
    top: -12px !important;
  }
}

@media only screen and (min-width: 1153px) {
  .footer_grid > div:nth-child(2) {
    padding-left: 2rem;
  }
}

@media only screen and (max-width: 1152px) {
  .menu_txt1 p {
    font-size: 1.5rem;
  }

  .header_sec1_txt2 p {
    font-size: 0.8rem;
  }

  .header_sec1_txt2 p {
    padding: 11px 6px;
  }

  .home_txt1 p,
  .home_txt1 h1 {
    font-size: 3rem;
  }

  .home_txt3 h1 {
    line-height: 2rem !important;
    font-size: 1.25rem !important;
  }

  .about_vision .sec10_txt1,
  .sec10_basis_50 .sec10_txt1 {
    font-size: 1.2rem;
  }

  .contact_sec3 {
    padding: 8rem 0;
  }

  .home_sec2_txt3 p,
  .solutions h2,
  .blog .home_sec2_txt3 h1 {
    font-size: 2rem;
  }

  .contact_text_call p {
    font-size: 2.8rem;
  }

  .contact_details {
    padding: 6rem 4rem 5rem;
  }

  .sec3_width_home {
    width: 76%;
    padding-top: 5rem;
  }

  .sec6_title p,
  .sec6_title h2,
  .portfolio .head-title {
    font-size: 1.7rem;
  }

  .jira_icon_flex {
    gap: 2rem;
    padding: 0rem 0 3rem;
  }

  .jira_icon_img img {
    width: 60px;
  }

  .about_sec2_img1 {
    top: 22%;
  }

  .home_sec2_txt1 p,
  .home_sec2_txt1 h1,
  .sec7_box_style .home_sec2_txt2 p {
    font-size: 3.8rem;
  }
  .home_sec2_txt1 h2 {
    font-size: var(--font_32);
  }

  .about_sec2_grid .number {
    font-size: 70px;
  }

  .about_sec2_grid .year {
    font-size: 1.6rem;
  }

  .about_sec4 .sec10_txt1 p {
    font-size: 1rem !important;
  }

  .about_box_style {
    padding: 3rem 2rem 1rem;
  }

  .home_txt3 p {
    line-height: 2rem;
    font-size: 1.5rem;
  }

  .footer_grid {
    grid-template-columns: repeat(2, 1fr) !important;
    grid-template-areas:
      "one one"
      "two three"
      "four .";
    gap: 5rem;
    row-gap: 1rem;
  }

  .footer_grid > div:nth-child(2) {
    padding-left: 3rem;
  }

  .footer_grid > div:nth-child(3) {
    padding-left: 0rem;
  }

  .footer_grid > div:nth-child(4) {
    padding-left: 3rem;
  }
}

@media only screen and (max-width: 1024px) {
  .video-slider video {
    width: 304px;
  }

  .client-review-swipers .swiper-button-next {
    right: 3rem !important;
    bottom: 10% !important;
  }

  .client-review-swipers .swiper-button-prev {
    right: 140px !important;
    bottom: 10% !important;
  }

  .about_box_style {
    padding: 3rem 2rem;
  }

  .header_width {
    width: 90%;
  }

  .accordion .accordion-button {
    padding: 1.5rem 0rem !important;
  }

  .accordion {
    margin-bottom: 40px !important;
  }

  .solutions_img img {
    width: 100%;
    margin: 0 auto;
  }

  .footer_link li {
    font-size: 0.8rem;
  }

  .footer_logo img {
    max-width: 180px;
  }

  .service_width {
    width: 90%;
  }

  .contact_sec3 {
    padding: 6rem 0;
  }

  .home_sec2_txt3 p,
  .solutions h2,
  .blog .home_sec2_txt3 h1 {
    font-size: 1.6rem;
  }

  .contact_text_call p {
    font-size: 1.4rem;
  }

  .contact_iconText_flex {
    padding: 0.5rem 0;
    align-items: center;
    justify-content: left;
  }

  .sec3_width_home {
    padding-top: 3rem;
  }

  .sec6_title p,
  .sec6_title h2 {
    font-size: 1.5rem;
  }

  .portfolio_sec1_txt1 p {
    padding-bottom: 1rem;
    font-size: var(--font_32);
    line-height: normal;
  }

  .portfolio_description_width {
    width: 100%;
    padding-bottom: 2rem;
  }

  .about_vision {
    padding: 4rem;
  }

  .home_sec2_txt1 p,
  .home_sec2_txt1 h1,
  .sec7_box_style .home_sec2_txt2 p {
    font-size: 3rem;
  }

  .about_sec4 .sec6_career_img1 {
    width: 100px;
  }

  .about_sec4_3 > .about_box_style {
    display: none;
  }

  .about_sec4_70 {
    display: block;
    visibility: visible;
    position: unset;
    opacity: 1;
  }

  .sec9_txt1 p {
    font-size: 1.2rem;
  }

  .sec7_box_style {
    padding: 4rem 1rem;
  }

  .home_txt3 p {
    font-size: 1.25rem !important;
  }

  .pricing-amount {
    font-size: var(--font_28);
  }

  input.form-control-txt,
  textarea.form-control-txt {
    padding: 0rem 2rem 0.5rem 0 !important;
    margin-top: 1rem !important;
  }

  .bg_grey {
    background-color: #f2f5f9;
    padding: 2rem 1rem;
    border-radius: 15px;
    margin: 0 auto;
  }

  .pricing-desc p img {
    width: 20px;
  }

  .faq-bottom .accordion-item {
    padding: 1rem !important;
  }
}

@media only screen and (max-width: 991px) {
  .header_font a,
  .header_font p {
    font-size: 12px;
  }

  .header_logo img {
    max-width: 124px;
  }
}
@media only screen and (max-width: 1080px) {
  .main-section-padding {
    padding: 4rem 2rem;
  }
  .section-padding {
    padding: 4rem 2rem;
  }
  .identifying-understanding {
    padding-bottom: 5rem;
  }
  .sec1_txt_position {
    left: 5%;
  }
}

@media only screen and (max-width: 1080px) and (orientation: landscape) {
  .home_sec1_img img {
    height: 600px !important;
  }
}

@media only screen and (max-width: 767px) {
  .main-section-padding {
    padding: 2rem 1rem;
  }
  .section-padding {
    padding: 2rem 1rem;
  }
  .identifying-understanding {
    padding-bottom: 2.5rem;
  }
  .btn_flex {
    padding: 14px 24px;
  }
  .home_txt3 h1 {
    font-size: 1rem !important;
    line-height: 1.5rem !important;
  }
  .video-slider .home_sec3_box.overflow-hidden {
    height: unset;
  }

  .homepage-work-domain .accordion-header .accordion-button {
    font-size: 1.5rem !important;
  }

  .accordion .accordion-body {
    font-size: 18px;
    line-height: 2rem;
    padding: 0;
  }

  .blog-box h4 {
    font-size: 1.25rem;
    line-height: normal;
  }

  .header_logo {
    width: 45%;
  }

  .hidden-xs {
    display: none;
  }

  .home_sec1_img img {
    height: 94vh;
  }

  .home_txt1 p,
  .home_txt1 h1 {
    font-size: 2.5rem;
  }

  .our_work {
    padding-top: 7rem !important;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: right;
  }

  .sec1_txt_position {
    left: 4%;
    width: 95%;
  }

  .sec10_flex_row {
    flex-direction: column;
    gap: 2rem;
  }

  .content {
    font-size: 2rem;
  }

  .blog-home {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }

  .grid-area-one {
    grid-area: one;
  }

  .grid-area-two {
    grid-area: two;
  }

  .grid-area-three {
    grid-area: three;
  }
  .grid-area-four {
    grid-area: four;
  }

  .footer_grid {
    grid-template-columns: repeat(2, 1fr) !important;
    grid-template-areas:
      "one one"
      "two three"
      "four .";
    gap: 1rem;
    row-gap: 1rem;
  }

  .footer_grid > div:nth-child(2) {
    padding-left: 0rem;
  }

  .footer_grid > div:nth-child(3) {
    padding-left: 0rem;
  }
  .footer_grid > div:nth-child(4) {
    padding-left: 0rem;
  }

  .form_grid {
    column-gap: 1.5rem;
    row-gap: 1.5rem;
  }
  .footer_link li {
    padding-bottom: 1rem;
  }

  .pricing-amount {
    text-align: left;
    font-size: 1.4rem !important;
  }

  .noText li {
    font-size: 18px;
  }

  .service_sec3 p {
    padding: 2rem 0;
  }

  .contact_box img {
    padding: 1rem 0;
  }

  .no_flex_height {
    height: unset;
  }

  .contact_sec3 {
    padding: 5rem 0 4rem;
  }

  .home_sec2_txt3 p,
  .solutions h2,
  .blog .home_sec2_txt3 h1 {
    font-size: 1.4rem;
    text-align: left;
    line-height: normal;
  }

  .contact_text_call p {
    font-size: 1rem;
  }

  .contact_details {
    padding: 2rem 1rem;
    width: 100%;
  }

  .contact_icon {
    width: 12%;
  }

  .like_flex {
    display: flex;
    gap: 0;
    flex-direction: column;
  }

  .sec3_width_home {
    width: 93%;
    margin: 0 auto;
  }

  .bg_grey {
    padding: 2rem 1rem;
    border-radius: 15px;
    margin: 0 auto;
  }

  .social_media {
    width: 72% !important;
  }

  .sec1_service p img {
    height: unset;
  }

  .visible-xs {
    display: block;
  }

  .service_width {
    width: 92%;
  }

  .rotate_img {
    top: -4%;
    right: 5%;
    width: 27%;
    z-index: 0;
  }

  .sec6_title p,
  .sec6_title h2,
  .portfolio .head-title {
    font-size: 1.6rem;
  }

  .portfolio .sec6_title {
    padding: 7rem 0 1rem;
  }

  .portflio_flex_row {
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 0;
  }

  .portfolio_color_style {
    width: 100%;
    border-radius: 30px;
  }

  .portfolio .sec6_title p,
  .portfolio .head-title {
    font-size: 1.5rem;
    text-align: left;
    line-height: var(--line_height_1_2);
    font-weight: 800;
  }

  .porfolio_inner p {
    width: 100%;
    text-align: left;
    font-size: 1.2rem;
    width: 100%;
    margin: 0 auto;
  }

  .service_grid_img img {
    width: 85px;
  }

  .service_description p {
    padding-top: 1rem;
  }

  .number {
    font-size: 45px;
  }

  .about_sec2_img1 {
    width: unset;
    position: unset;
  }

  .about_sec2 .sec10_txt1 {
    width: 100%;
  }

  .home_sec2_txt1 p,
  .home_sec2_txt1 h1,
  .sec7_box_style .home_sec2_txt2 p {
    font-size: 2.2rem;
  }
  .home_sec2_txt1 h2 {
    font-size: var(--font_28);
    line-height: 40px;
  }

  .about_sec2_grid .number {
    font-size: 43px;
  }

  .sign_data {
    font-size: 44px;
  }

  .about_sec2_grid .year {
    font-size: 1.2rem;
  }

  .year p {
    width: 90%;
  }

  .sec9_txt1 p {
    font-size: 1rem;
  }

  .redy_title {
    top: 20%;
    left: 53%;
    width: 100%;
  }

  .get_touch {
    top: 46%;
  }

  .sec7_box_style {
    padding: 3rem 1rem;
  }

  .endTO_text {
    margin: 0 auto 1rem;
  }

  .faq-bottom .accordion-button,
  .faq-bottom .accordion-body {
    font-size: 16px;
    line-height: normal;
  }

  .faq-bottom .accordion-button {
    padding: 10px 0 !important;
  }

  .pricing_grid {
    grid-template-areas:
      "one"
      "two"
      "three";
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
  }

  .pricing_grid .one:hover {
    border-radius: 0 !important;
  }

  .pricing_grid .three:hover {
    border-radius: 0 0 28px 28px !important;
  }

  .pricing-desc-text {
    font-size: var(--font_16);
  }

  .pricing-amount br {
    display: block !important;
  }

  .year {
    font-size: 1rem;
  }

  input.form-control-txt,
  textarea.form-control-txt {
    padding: 0rem 2rem 0.5rem 0 !important;
    margin-top: 1rem !important;
  }

  .contact_bold-head {
    padding: 0 !important;
    font-size: var(--font_24) !important;
  }

  .faq-bottom .accordion-item {
    padding: 1rem !important;
    margin-bottom: 15px !important;
  }

  .pricing-desc p img {
    margin-top: 0;
  }

  .fintech-portfolio-sec {
    font-size: 1.2rem;
  }

  .noText li::before {
    top: 7px;
  }

  .header-title {
    font-size: 40px !important;
    line-height: 50px !important;
  }

  .why-card:hover {
    background: url(/images/why-choose-hover-bg.svg) !important;
    width: 100%;
  }
  .footer_grid > div:nth-child(3) {
    padding-left: 0;
  }
}

.dedicated_team_card,
.service_detail_card_border:hover {
  background: var(--theme-color);
  box-shadow: 0px 2px 6px 0px #00000033;
}

.service_item_card:hover {
  background: var(--theme-color);
}

.service_item_card:hover svg * {
  fill: white;
}

.why_staff_augmentation svg {
  width: 100%;
  height: fit-content;
}

.we_are_hiring svg {
  height: auto;
}


.loader {
  --dim: 3rem;
  width: var(--dim);
  height: var(--dim);
  position: relative;
  animation: spin988 2s linear infinite;
}

.loader .circle {
  --color:var(--theme-color);
  --dim: 1.2rem;
  width: var(--dim);
  height: var(--dim);
  background-color: var(--color);
  border-radius: 0;
  position: absolute;
}

.loader .circle:nth-child(1) {
  top: 0;
  left: 0;
}

.loader .circle:nth-child(2) {
  top: 0;
  right: 0;
}

.loader .circle:nth-child(3) {
  bottom: 0;
  left: 0;
}

.loader .circle:nth-child(4) {
  bottom: 0;
  right: 0;
}

@keyframes spin988 {
  0% {
    transform: scale(1) rotate(0);
  }

  20%, 25% {
    transform: scale(1.3) rotate(90deg);
  }

  45%, 50% {
    transform: scale(1) rotate(180deg);
  }

  70%, 75% {
    transform: scale(1.3) rotate(270deg);
  }

  95%, 100% {
    transform: scale(1) rotate(360deg);
  }
}
.blog_content > ul > li {
  white-space: unset !important;
}