
.our_process_page{
    .our-process-endToEnd{
        .item-accordion{
            .accordion-item{
                border-bottom: transparent;
                border: 1px solid var(--main_color) !important;
                padding: 1rem 1.5rem !important;
                background-color: var(--white_color) !important;
                margin-top: 0 !important;
                border-radius: 20px !important;
                button[aria-expanded="false"]{
                    border:0 !important;
                }
            }
        }

    }
}


.our_process_page{
    .our-process-endToEnd2{
        .item-accordion{
            .accordion-item{
                border-bottom: transparent;
                border: 1px solid var(--main_color) !important;
                padding: 1rem 1.5rem !important;
                background-color: var(--white_color) !important;
                margin-top: 0 !important;
                border-radius: 20px !important;
                button[aria-expanded="false"]{
                    border:0 !important;
                }
            }
        }

    }
}

