.solution-accordion{
    .end-to-end{
        .accordion{
            .item-accordion{
                border-bottom: transparent;
                border: 1px solid var(--main_color) !important;
                padding: 0 1.5rem !important;
                background-color: var(--white_color) !important;
                margin-top: 0 !important;
                border-radius: 20px !important;
                button[aria-expanded="false"]{
                    border:0 !important;
                }
            }
        }
    }
}