.login-page {
  .form-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .form-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }

  .form-group label:before {
    content: "";
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--white_color);
    border: 1px solid var(--color_black);
    padding: 7px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 6px;
    margin-bottom: 2px;
    border-radius: 4px;
  }

  .form-group input:checked + label::before {
    background-color: var(--theme-color);
  }

  .form-group input:checked + label:after {
    content: "";
    display: block;
    position: absolute;
    top: 6px;
    left: 5px;
    width: 5px;
    height: 9px;
    border: solid var(--white_color);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}
