.healthvault {
  ul {
    padding-left: 40px !important;
    li {
      list-style: disc !important;
      &:last-child {
        margin-bottom: 10px;
      }
    }
  }
}

.brilworks-policy-page {
  p,
  li {
    background: transparent !important;
  }
}
